{template 'headergs'}
{template 'common'}
<script type="text/javascript" src="resource/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="resource/js/lib/jquery-ui-1.10.3.min.js"></script>
<div class="col-sm-10 col-md-10">

    <div class="panel panel-primary">

        <div class="panel-body">

            {if $css == 'goodsred2'}

            <link type="text/css" rel="stylesheet" href="../addons/eso_sale/images/uploadify_t.css" />
            <style type='text/css'>
                .tab-pane { padding:20px 0 20px 0;}

            </style>

            <div class="main">
                <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit="return formcheck();">
                    <input type="hidden" name="id" value="{$item['id']}" />
                    <h4>{if empty($item['id'])}添加商品{else}编辑商品{/if}</h4>
                    <ul class="nav nav-tabs" id="myTab">
                        <li {if $css2=='jbxx'}class="active"{/if}><a href="{php echo $this->createMobileUrl('c_goods_red', array('css2' => 'jbxx','id'=>$item['id'],'op'=>'post'))}">基本信息</a></li>
						<li {if $css2=='hdp'}class="active"{/if}><a href="{php echo $this->createMobileUrl('c_goods_red', array('css2' => 'hdp','id'=>$item['id'],'op'=>'post'))}">商品幻灯片</a></li>
                    </ul>
<a href="{php echo $this->createMobileUrl('c_goods_red', array('css2' => 'jbxx','id'=>$gid,'op'=>'post'))}">基本信息</a>
<a href="{php echo $this->createMobileUrl('c_goods_red', array('css2' => 'hdp','id'=>$gid,'op'=>'post'))}">商品幻灯片</a>
{if $_SESSION['vip']==2}
<a href="{php echo $this->createMobileUrl('c_goodsdj_fgs', array('op' => 'display'))}"  class="btn btn-primary span3">返回</a>{/if}
{if $_SESSION['vip']==3}
<a href="{php echo $this->createMobileUrl('c_mygoods', array('op' => 'display'))}"  class="btn btn-primary span3">返回</a>{/if}
                    <div class="tab-content">
                        <div class="tab-pane  active" id="tab_basic">
						{if $css2=='jbxx'}
						
						<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>商品名称</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="goodsname" id="goodsname" class="form-control" value="{$item['title']}" disabled="disabled"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品编号</label>
    <div class="col-sm-4 col-xs-12">
        <input type="text" name="goodssn" id="goodssn" class="form-control" value="{$item['goodssn']}"  disabled="disabled"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品属性</label>
    <div class="col-sm-9 col-xs-12" >
        <label for="isrecommand" class="checkbox-inline">
            <input type="checkbox" name="isrecommand" value="1" id="isrecommand" {if $item['isrecommand'] == 1}checked="true"{/if}  disabled="disabled"/> 首页推荐
        </label>
        <label for="isnew" class="checkbox-inline">
            <input type="checkbox" name="isnew" value="1" id="isnew" {if $item['isnew'] == 1}checked="true"{/if}  disabled="disabled"/> 新品推荐
        </label>
        <label for="ishot" class="checkbox-inline">
            <input type="checkbox" name="ishot" value="1" id="ishot" {if $item['ishot'] == 1}checked="true"{/if}  disabled="disabled"/> 热卖推荐
        </label>
        <label for="isdiscount" class="checkbox-inline">
            <input type="checkbox" name="isdiscount" value="1" id="isdiscount" {if $item['isdiscount'] == 1}checked="true"{/if}  disabled="disabled"/> 折扣商品
        </label>
        <label for="istime" class="checkbox-inline">
            <input type="checkbox" name="istime" value="1" id="istime" {if $item['istime'] == 1}checked="true"{/if}  disabled="disabled"/> 限时卖
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>分类</label>
    <div class="col-sm-4 col-xs-6">
       <select class="form-control" style="margin-right:15px;" name="cate_1" onchange="fetchChildCategory(this.options[this.selectedIndex].value)"  disabled="disabled">
            <option value="0">请选择一级分类</option>
             {loop $category $row}
            {if $row['parentid'] == 0}
            <option value="{$row['id']}" {if $row['id'] == $item['pcate']} selected="selected"{/if}>{$row['name']}</option>
            {/if}
            {/loop}
        </select>
    </div>
    <div class="col-sm-4 col-xs-6">
        <select class="form-control" id="cate_2" name="cate_2" autocomplete="off"  disabled="disabled">
            <option value="0">请选择二级分类</option>
			{if $item['pcate']}
			{loop $fl $rowfl}
            <option value="{$rowfl['id']}" {if $rowfl['id'] == $item['ccate']} selected="selected"{/if}>{$rowfl['name']}</option>
            {/loop}
			{/if}
            {if !empty($_GPC['cate_1']) && !empty($children[$_GPC['cate_1']])}
            {loop $children[$_GPC['cate_1']] $row}
            <option value="{$row[0]}" {if $row[0] == $item['ccate']} selected="selected"{/if}>{$row[1]}</option>
            {/loop}
            {/if}
        </select>
    </div>
</div>
<!--
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品图</label>
    <div class="col-sm-9 col-xs-12">
        {php echo tpl_form_field_image('thumb', $item['thumb'], '', array('extras' => array('text' => 'readonly')))}
    </div>
</div>
-->
<link rel="stylesheet" href="kd/themes/default/default.css" />
	<script src="kd/kindeditor.js"></script>
		<script src="kd/lang/zh_CN.js"></script>
		<script>
			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});

	
				K('#image3').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url3').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url3').val(url);
								editor.hideDialog();
							}
						});
					});
						var img2='图片上传成功！';
					document.getElementById('img').innerHTML=img2;
				});
			
			});
		</script>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品封面图</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url3" value="{$item['thumb']}" name="thumb" class="form-control"  disabled="disabled"/>
		<div id="img">
		<img src="{$item['thumb']}" width="300" height="300" id="url3"/>
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image3" value="选择图片" class="btn btn-primary"   disabled="disabled"/></div>
</div>



<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">包装</label>
<div class="col-sm-4 col-xs-6">
        <select class="form-control" id="bz" name="bz" autocomplete="off"  disabled="disabled">
            {if $item['bz']}<option value="{$item['bz']}">{php $arrbz=$item['bz']-1;echo $goodbz[$arrbz][name]}</option>
            {else}<option value="0">请选择包装</option>{/if}
            
            {loop $goodbz $bz}
            <option value="{$bz[id]}">{$bz[name]}</option>
            {/loop}
          
        </select>
    </div>
</div>
<!--
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">限时特价首页图</label>
    <div class="col-sm-9 col-xs-12">
        {php echo tpl_form_field_image('xsthumb',$item['xsthumb'])}
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">其他图片</label>
    <div class="col-sm-9 col-xs-12">

    </div>
</div>

<div class="form-group">
    <label class=" col-sm-3 col-md-2 control-label">商品条码</label>
    <div class="col-sm-4 col-xs-12">
        <input type="text" name="productsn" id="productsn" class="form-control" value="{$item['productsn']}" />
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品价格</label>
    <div class="col-sm-9 col-xs-12">
        <div class="input-group">
            <span class="input-group-addon">税后价</span>
            <input type="text" name="marketprice" id="marketprice" class="form-control" value="{$item['marketprice']}" />
            <span class="input-group-addon">元</span>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">市场价</span>
            <input type="text" name="productprice" id="productprice" class="form-control" value="{$item['productprice']}" />
            <span class="input-group-addon">元</span>
        </div>
        -->
        <!--<br>
        <div class="input-group">
            <span class="input-group-addon">成本价</span>
            <input type="text" name="costprice" id="costprice" class="form-control" value="{$item['costprice']}" />
            <span class="input-group-addon">元</span>
        </div>-->
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">申报单价</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
          
			<input type="text" name="unitPrice" id="unitPrice" class="form-control" value="{$item['unitPrice']}"  disabled="disabled"/>
            
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">税率</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
          
            <select id="shuilv" name="shuilv" autocomplete="off" class="form-control"  disabled="disabled">
            {if $item['shuilv']}<option value="{$item['shuilv']}">{php $arrshuilv=$item['shuilv']-1;echo $shuilv[$arrshuilv][shuilv]}</option>
            {else}<option value="0">请选择税率</option>{/if}
            {loop $shuilv $shuilv}
            <option value="{$shuilv[id]}">{$shuilv[shuilv]}%_{$shuilv[name]}</option>
            {/loop}
          
        </select>
            <span class="input-group-addon">%</span>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">重量</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
            <input type="text" name="weight" id="weight" class="form-control" value="{$item['weight']}"  disabled="disabled"/>
            <span class="input-group-addon">克</span>
        </div>
    </div>
  
<div class="col-sm-4 col-xs-6">
每
        <select id="cate_2" name="dw" autocomplete="off"  disabled="disabled">
            {if $item['dw']}<option value="{$item['bz']}">{php $arrdw=$item['dw']-1;echo $gooddw[$arrdw][name]}</option>
            {else}<option value="0">请选择单位</option>{/if}
            
            {loop $gooddw $dw}
            <option value="{$dw[id]}">{$dw[name]}</option>
            {/loop}
          
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">库存</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
            <input type="text" name="total" id="total" class="form-control" value="{$item['total']}"  disabled="disabled"/>
            <span class="input-group-addon">件</span>
        </div>
        <span class="help-block">当前商品的库存数量，-1则表示不限制。</span>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">减库存方式</label>
    <div class="col-sm-9 col-xs-12">
        <label for="totalcnf1" class="radio-inline"><input type="radio" name="totalcnf" value="0" id="totalcnf1" {if empty($item) || $item['totalcnf'] == 0}checked="true"{/if}  disabled="disabled"/> 拍下减库存</label>
        &nbsp;&nbsp;&nbsp;
        <label for="totalcnf2" class="radio-inline"><input type="radio" name="totalcnf" value="1" id="totalcnf2"  {if !empty($item) && $item['totalcnf'] == 1}checked="true"{/if}  disabled="disabled"/> 付款减库存</label>
        &nbsp;&nbsp;&nbsp;
        <label for="totalcnf3" class="radio-inline"><input type="radio" name="totalcnf" value="2" id="totalcnf3"  {if !empty($item) && $item['totalcnf'] == 2}checked="true"{/if}  disabled="disabled"/> 永不减库存</label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">产销国</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
             <select id="cate_3" name="guojia" autocomplete="off"  disabled="disabled">
            {if $item['guojia']}<option value="{$item['bz']}">{php $arrguojia=$item['guojia']-1;echo $guojia[$arrguojia][name]}</option>
            {else}<option value="0">请选择国家</option>{/if}
            
            {loop $guojia $guojia}
            <option value="{$guojia[id]}">{$guojia['name']}</option>
            {/loop}
          
        </select>
            
            <span class="input-group-addon"></span>
        </div>
       
    </div>
</div>
<!--
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">购买积分</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
            <input type="text" name="credit" id="credit" class="form-control" value="{$item['credit']}" />
            <span class="input-group-addon">分</span>
        </div>
        <p class="help-block">会员购买积分, 如果不填写，则默认为不奖励积分</p>
    </div>
</div>
-->
<!--
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">1级佣金比例</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
            <input type="text" name="commission" id="commission" class="form-control" value="{$item['commission']}" />
            <span class="input-group-addon">%</span>
        </div>
        <p class="help-block">1级佣金的比例,不填使用系统默认！</p>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">2级佣金比例</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
            <input type="text" name="commission2" id="commission2" class="form-control" value="{$item['commission2']}" />
            <span class="input-group-addon">%</span>
        </div>
        <p class="help-block">2级佣金的比例,不填使用系统默认！</p>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">3级佣金比例</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
            <input type="text" name="commission3" id="commission3" class="form-control" value="{$item['commission3']}" />
            <span class="input-group-addon">%</span>
        </div>
        <p class="help-block">3级佣金的比例,不填使用系统默认！</p>
    </div>
</div>
-->
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否上架销售</label>
    <div class="col-sm-6 col-xs-12">
        <label for="isshow1" class="radio-inline"><input type="radio" name="status" value="1" id="isshow1" {if $item['status'] == 1}checked="true"{/if}  disabled="disabled"/> 是</label>
        <label for="isshow2" class="radio-inline"><input type="radio" name="status" value="0" id="isshow2"  {if $item['status'] == 0}checked="true"{/if}  disabled="disabled"/> 否</label>
    </div>
</div>


<script language="javascript">

$(function(){

	var i = 0;
	$('#selectimage').click(function() {
		var editor = KindEditor.editor({
			allowFileManager : false,
			imageSizeLimit : '30MB',
			uploadJson : './index.php?act=attachment&do=upload'
		});
		editor.loadPlugin('multiimage', function() {
			editor.plugin.multiImageDialog({
				clickFn : function(list) {
					if (list && list.length > 0) {
						for (i in list) {
							if (list[i]) {
								html =	'<li class="imgbox" style="list-type:none">'+
								'<a class="item_close" href="javascript:;" onclick="deletepic(this);" title="删除"></a>'+
								'<span class="item_box"> <img src="'+list[i]['url']+'" style="height:80px"></span>'+
								'<input type="hidden" name="attachment-new[]" value="'+list[i]['filename']+'" />'+
								'</li>';
								$('#fileList').append(html);
								i++;
							}
						}
						editor.hideDialog();
					} else {
						alert('请先选择要上传的图片！');
					}
				}
			});
		});
	});
});
function deletepic(obj){
	if (confirm("确认要删除？")) {
		var $thisob=$(obj);
		var $liobj=$thisob.parent();
		var picurl=$liobj.children('input').val();
		$.post('{php echo $this->createMobileUrl('ajaxdelete',array())}',{ pic:picurl},function(m){
			if(m=='1') {
				$liobj.remove();
			} else {
				alert("删除失败");
			}
		},"html");
	}
}

    </script>
			<style>
			form {
				margin: 0;
			}
			textarea {
				display: block;
			}
		</style>
		<link rel="stylesheet" href="kd/themes/default/default.css" />
		<script charset="utf-8" src="kd/kindeditor-min.js"></script>
		<script charset="utf-8" src="kd/lang/zh_CN.js"></script>
		<script>
			KindEditor.ready(function(K) {
				K.create('textarea[name="content"]', {
					autoHeightMode : true,
					afterCreate : function() {
						this.loadPlugin('autoheight');
					}
				});
			});
		</script>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品简介</label>
    <div class="col-sm-9 col-xs-12">
        <textarea style="height:120px;" class="form-control" id="description" name="description"  disabled="disabled">{$item['description']}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品详情</label>
    <div class="col-sm-9 col-xs-12">
        <textarea style="height:120px;" class="form-control" id="content" name="content"  disabled="disabled"> {$item['content']}</textarea>
    </div>
</div>
<!--
{if $_SESSION['vip']==3}




<div class="form-group">


         <label class="col-xs-12 col-sm-3 col-md-2 control-label">销售价</label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
        <input type="hidden" name="dlsid" value="{$dls['id']}"/>
            <input type="text" name="lsj" id="lsj" class="form-control" value="{$dls['lsj']}"/>
            <span class="input-group-addon">元</span>
        </div>
        <p class="help-block"></p>
    </div>
	

         <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
    <div class="col-sm-6 col-xs-12">
        <div class="input-group">
        <input name="submit" type="submit" value="提交" class="btn btn-primary span3">
                    <input type="hidden" name="token" value="{$_W['token']}" />
           
        </div>
        <p class="help-block"></p>
    </div>
</div>

{/if}
-->
						{else if $css2=='hdp'}
						
<link rel="stylesheet" href="kd/themes/default/default.css" />
	<script src="kd/kindeditor.js"></script>
		<script src="kd/lang/zh_CN.js"></script>
		<script>
			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});

	
				K('#image1').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url1').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url1').val(url);
								editor.hideDialog();
							}
						});
					});
						var img1='图片1上传中！';
					document.getElementById('img1').innerHTML=img1;
				});
				K('#image2').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url2').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url2').val(url);
								editor.hideDialog();
							}
						});
					});
						var img2='图片2上传中！';
					document.getElementById('img2').innerHTML=img2;
				});
				K('#image3').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url3').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url3').val(url);
								editor.hideDialog();
							}
						});
					});
						var img3='图片3上传中！';
					document.getElementById('img3').innerHTML=img3;
				});
				K('#image4').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url4').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url4').val(url);
								editor.hideDialog();
							}
						});
					});
						var img4='图片4上传中！';
					document.getElementById('img4').innerHTML=img4;
				});
				K('#image5').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url5').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url5').val(url);
								editor.hideDialog();
							}
						});
					});
						var img5='图片5上传中！';
					document.getElementById('img5').innerHTML=img5;
				});
			
			});
		</script>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片1</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url1" value="{$hdp2[0]}" name="thumb1" class="form-control" disabled="disabled"/>
		<div id="img1">
		<img src="{$hdp2[0]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image1" value="选择图片" class="btn btn-primary"  disabled="disabled"/></div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片2</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url2" value="{$hdp2[1]}" name="thumb2" class="form-control" disabled="disabled"/>
		<div id="img2">
		<img src="{$hdp2[1]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image2" value="选择图片" class="btn btn-primary"  disabled="disabled"/></div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片3</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url3" value="{$hdp2[2]}" name="thumb3" class="form-control" disabled="disabled"/>
		<div id="img3">
		<img src="{$hdp2[2]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image3" value="选择图片" class="btn btn-primary"  disabled="disabled"/></div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片4</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url4" value="{$hdp2[3]}" name="thumb4" class="form-control" disabled="disabled"/>
		<div id="img4">
		<img src="{$hdp2[3]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image4" value="选择图片" class="btn btn-primary"  disabled="disabled"/></div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片5</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url5" value="{$hdp2[4]}" name="thumb5" class="form-control" disabled="disabled"/>
		<div id="img5">
		<img src="{$hdp2[4]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image5" value="选择图片" class="btn btn-primary"  disabled="disabled"/></div>
</div>


						
						{/if}</div>
                    </div>
                </form>
            </div>
			
            <div id="specWin" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:100px;" class="row-hover">名称<i></i></th>
                        <th style="text-align:right;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="spec-items">
                    {loop $specs $field}
                    {php $json = json_encode($field);}
                    <tr>
                        <td><input  name="spec[]" type="text" value="{$field['title']}"></td>
                        <td style="text-align:right;">
                            {loop $field['content'] $item}
                            <span class="label label-info">{$item}</span>
                            {/loop}
                        </td>
                        <td><a href="javascript:;" onclick='addSpec({$json})'>添加</a></td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
            {elseif $operation == 'display'}
            <div class="main">
      
            {/if}
        </div>
    </div>
</div>

<script type="text/javascript">
    <!--
    var category = {php echo json_encode($children)};
    require(['jquery', 'util'], function($, u){
        $(function(){
            u.editor($('.richtext-clone')[0]);
        });
    });


    var category = {php echo json_encode($children)};

    $(function () {
        window.optionchanged = false;
        $('#myTab a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        })
    });



    function formcheck(){
        if($("#pcate").val()=='0'){
            Tip.focus("pcate","请选择商品分类!","right");
            return false;
        }
        if($("#goodsname").isEmpty()) {
            $('#myTab a[href="#tab_basic"]').tab('show');
            Tip.focus("goodsname","请输入商品名称!","right");
            return false;
        }
        {if empty($id)}
            if ($.trim($(':file[name="thumb"]').val()) == '') {
                $('#myTab a[href="#tab_basic"]').tab('show');
                $('#myTab a[href="#tab_basic"]').tab('show');
                Tip.focus('thumb_div', '请上传缩略图.', 'right');
                return false;
            }
        {/if}

                if($("#goodsname").isEmpty()) {
                    $('#myTab a[href="#tab_basic"]').tab('show');
                    Tip.focus("goodsname","请输入商品名称!","right");
                    return false;
                }
                var full =  checkoption();
                if(!full){return false;}
                if(optionchanged){
                    $('#myTab a[href="#tab_option"]').tab('show');
                    message('规格数据有变动，请重新点击 [刷新规格项目表] 按钮!','','error');
                    return false;
                }
                return true;
            }

            function checkoption(){
                var full = true;
                if( $("#hasoption").get(0).checked){
                    $(".spec_title").each(function(i){
                        if( $(this).isEmpty()) {
                            $('#myTab a[href="#tab_option"]').tab('show');
                            Tip.focus(".spec_title:eq(" + i + ")","请输入规格名称!","top");
                            full =false;
                            return false;
                        }

                    });
                    $(".spec_item_title").each(function(i){
                        if( $(this).isEmpty()) {
                            $('#myTab a[href="#tab_option"]').tab('show');
                            Tip.focus(".spec_item_title:eq(" + i + ")","请输入规格项名称!","top");
                            full =false;
                            return false;
                        }
                    });
                }
                if(!full) { return false; }
                return full;
            }
    //-->
</script>

<script type="text/javascript">
    <!--
    var category = {php echo json_encode($children)};
    function setProperty(obj,id,type){

        $(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createMobileUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    $(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data)
                    if(d.result==1){
                        $(obj).toggleClass("label-info");
                    }
                },"json");
    }

    function setProperty1(obj,id,type){

        //$(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createMobileUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    //$(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data);
                    if(d.data==1){
                        obj.innerHTML = '销售中';
                    }
                    if(d.data==0){
                        obj.innerHTML = '已下架';
                    }
                    $(obj).toggleClass("label-success");
                },"json");
    }
    //-->
</script>



