﻿{template 'headergs'}
{template 'common'}
<script>var require = { urlArgs: 'v=2015041921' };</script>
	<script src="./resource/js/require.js"></script>
	<script src="./resource/js/app/config.js"></script>
	<script src="./resource/js/lib/jquery-1.11.1.min.js"></script>

  </head>
  <body>

  {if $css=='spgl'}
  <div class="col-sm-10 col-md-10">
	  <div class="panel panel-primary">
		  <div class="panel-heading">商品定价</div>
		  <div class="panel-body">
			  <form class="form-horizontal" action="{php echo $this->createMobileUrl('c_goodsdj_xq', array('id' => $bid, 'op' => 'post'))}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
				  <input type="hidden" name="xid" value="{$_SESSION['vipid']}">
				  <input type="hidden"  name="bid" id="bid" class="form-control" value="{$bid}" />
				  <div class="form-group">
				  <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品名称</label>
				  <div class="col-sm-4 col-xs-6">{$goods['title']}</div>
				  </div>
		<div class="form-group">
		
<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>售卖属性</label>

</div>
<script src="../addons/eso_sale/template/mobile/js/jquery.min.js"></script>
{php $i=1;}
{if $list}
{loop $list $list}
 <input type="hidden" name="did{$i}" id="did{$i}" class="form-control" value="{$list['did']}" />
  <input type="hidden"  name="bid{$i}" id="bid{$i}" class="form-control" value="{$list['bid2']}" />
 
    <input type="hidden"  name="zid{$i}" id="zid{$i}" class="form-control" value="{$list['zid']}" />
	<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>{$i}组合</span></label>
    <div class="col-sm-4 col-xs-6">
        <div class="input-group">
            <input type="text" name="zn{$i}" id="zn{$i}" class="form-control" value="{$list['n']}" disabled="disabled"/><span class="input-group-addon">个</span>
            
        </div>
    </div>
	{if $_SESSION['vip']==1}
     <div class="col-sm-4 col-xs-6">
        <div class="input-group">
            <input type="text" name="zje{$i}" id="zje{$i}" class="form-control" value="{$list['je']}" disabled="disabled"/><span class="input-group-addon">元(统一参考定价)</span>
		
        </div>
    </div>
	{/if}
</div>
	<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">价格配置</label>
  {if ($_SESSION['vip']<3)}
    <div class="col-sm-4 col-xs-6">
        <div class="input-group">{if $_SESSION['vip']==1}分公司定价{else if $_SESSION['vip']==2}上级供货价{/if}
            <input type="text" name="fgsj{$i}" id="fgsj{$i}" class="form-control" value="{$list['fgsj']}" {if $_SESSION['vip']==2} disabled="disabled"{/if}/><span class="input-group-addon">元</span>
            
        </div>
    </div>
	{/if}
     <div class="col-sm-4 col-xs-6">
	 
        <div class="input-group">经销商定价{if ($list['fgsj']>$list['jxsj'])}<font color="#FF0000">（小于上级供货价）</font>{/if}
            <input type="text" name="jxsj{$i}" id="jxsj{$i}" class="form-control" value="{$list['jxsj']}" {if $_SESSION['vip']==3} disabled="disabled"{/if}/><span class="input-group-addon">元</span>
		
        </div>
    </div>
</div>
	<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">经销商零售价</label>
    <div class="col-sm-4 col-xs-6">
        <div class="input-group">
            <input type="text" name="lsj{$i}" id="lsj{$i}" class="form-control" value="{$list['lsj']}" {if ($_SESSION['vip']<3)} disabled="disabled"{/if}/><span class="input-group-addon">元</span>
            
        </div>
    </div>
	
	<div class="form-group">
	<label class="col-sm-4 col-xs-6">{if ($list['jxsj']>$list['lsj'])}<font color="#FF0000">（小于上级供货价）</font>{/if}</label>
	<a href="{php echo $this->mturl('detail', array('lid' => $list['lid']));}" target="_blank">商品页</a>
    <a href="{php echo $this->createMobileUrl('c_ewm', array('lid' => $list['lid'], 'op' => 'post'))}" class="btn btn-primary" target="_blank" >二维码</a
	></div>

</div>
<br>
{php $i++;}
{/loop}

{else}

<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">请先到商品界面配置售卖分组</label>
   
</div>
{/if}

				  
				
				 <input type="hidden" name="n" value="{$i}">
				
				  <div class="form-group">
					  <div class="col-sm-offset-3 col-sm-10">
						  <input name="token" type="hidden" value="{$_W['token']}" />
                      
                        {if $_SESSION['vip']==1}
						  <a href="{php echo $this->createMobileUrl('c_goodsdj')}"  class="btn btn-primary" >返回</a>
                          {else if $_SESSION['vip']==2}
						  <a href="{php echo $this->createMobileUrl('c_goodsdj_fgs')}"  class="btn btn-primary" >返回</a>
                          {else if $_SESSION['vip']==3}
                          <a href="{php echo $this->createMobileUrl('c_mygoods')}"  class="btn btn-primary" >返回</a>
                          {/if}
						  
						  <input type="submit" class="btn btn-primary" name="submit" value="提交更改" />
					
					  </div>
				  </div>
			  </form>
		  </div>
	  </div>
  </div>
  {/if}









<!--
  <div class="main">
    <div class="panel panel-info">
       经销商详情
    </div>
    <div style="padding:15px;">
	<form action="{php echo $this->createMobileUrl('c_jxsgl_xq')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
        <table class="table table-hover">
           <input type="hidden" name="xid" value="{$fgsxq['id']}">
			<tr>
				<td>是否可用</td>
				<td width="300px">{if $fgsxq['status']==1}<input type="radio" name="status" value="1" checked="checked">可用<input type="radio" name="status" value="0">不可用{else}<input type="radio" name="status" value="1">可用<input type="radio" name="status" value="0" checked="checked">不可用{/if}</td>
			</tr>
            	<tr>
				<td>是否审核</td>
				<td width="300px">
				{$fl}
				</td>
			</tr>
            <td>所属分公司</td>
				<td width="300px">{$fgsxq['bname']}</td>
			</tr>
			<tr>
				<td>经销商名称</td>
				<td><input type="text" name="name" value="{$fgsxq['name']}"></td>
			</tr>
			<tr>
				<td>经销商地址</td>
				<td><input type="text" name="address" value="{$fgsxq['address']}"></td>
			</tr>
			<tr>
				<td>登陆用户</td>
				<td><input type="text" name="username" value="{$fgsxq['username']}"></td>
			</tr>
			<tr>
				<td>密码</td>
				<td><input type="text" name="pwd" value="{$fgsxq['pwd']}"></td>
			</tr>
			<tr>
				<td>责任人</td>
				<td><input type="text" name="realname" value="{$fgsxq['realname']}"></td>
			</tr>
			<tr>
				<td>手机号</td>
				<td><input type="text" name="mobile" value="{$fgsxq['mobile']}"></td>
			</tr>
			<tr>
				<td>注册时间</td>
				<td>{if $fgsxq['createtime']}{php echo date("Y-m-d H:i:s",$fgsxq['createtime']);}{/if}</td>
			</tr>
			<tr>
				<td>银行卡号</td>
				<td><input type="text" name="bankcard" value="{$fgsxq['bankcard']}"></td>
			</tr>
			<tr>
				<td>支付宝号</td>
				<td><input type="text" name="alipay" value="{$fgsxq['alipay']}"></td>
			</tr>
			<tr>
				<td>备注</td>
				<td><textarea name="content" cols="50" rows="5">{$fgsxq['content']}</textarea></td>
			</tr>
			
	
           
            <tr>
                <td colspan="2">
   
                    <input name="token" type="hidden" value="{$_W['token']}" />
                    <a href="{php echo $this->createMobileUrl('c_fgsgl')}"  class="btn btn-primary" >返回</a>                </td>
				 <td colspan="2">
                    {if $b==1}
                    <input type="submit" class="btn btn-primary" name="submit" value="提交" />
					{/if}
					{if $b==2}
                    <input type="submit" class="btn btn-primary" name="submitadd" value="提交" />
					{/if}                </td>
            </tr>
        </table>
      </form>
       
    </div>
</div>
-->



  