
	
	
<link href="./resource/css/bootstrap.min.css" rel="stylesheet">
	<link href="./resource/css/font-awesome.min.css" rel="stylesheet">
	<link href="./resource/css/common.css" rel="stylesheet">
	<script>var require = { urlArgs: 'v=2015041921' };</script>
	<script src="./resource/js/require.js"></script>
	<script src="./resource/js/app/config.js"></script>
	<script src="./resource/js/lib/jquery-1.11.1.min.js"></script>

  </head>
  <body>
{if $css=='jxszc'}
  <div class="main">
    <div class="panel panel-info">
       经销商注册
    </div>
    <div style="padding:15px;">
	<form action="{php echo $this->createMobileUrl('c_jxszc')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
        <table class="table table-hover">
           <input type="hidden" name="status" value="0">
		   <input type="hidden" name="flag" value="0">
		   <input type="hidden" name="content" value="">

            <td>所属分公司</td>
				<td width="300px">
				<select name="fgs">
				<option value="">请选择分公司</option>
					{loop $fgs  $c}
					<option value="{$c['id']}">{$c['name']}</option>
					{/loop}
				</select>
				</td>
			</tr>
			<tr>
				<td>支付宝号（登陆账号）</td>
				<td><input type="text" name="alipay" value="{$fgsxq['alipay']}"></td>
			</tr>
			<tr>
				<td>密码</td>
				<td><input type="password" name="pwd" value="{$fgsxq['pwd']}"></td>
			</tr>
			<tr>
				<td>经销商名称</td>
				<td><input type="text" name="name" value="{$fgsxq['name']}"></td>
			</tr>
			<tr>
				<td>经销商地址</td>
				<td><input type="text" name="address" value="{$fgsxq['address']}"></td>
			</tr>
		
			
			<tr>
				<td>负责人</td>
				<td><input type="text" name="realname" value="{$fgsxq['realname']}"></td>
			</tr>
			<tr>
				<td>手机号</td>
				<td><input type="text" name="mobile" value="{$fgsxq['mobile']}"></td>
			</tr>
		
			<tr>
				<td>银行卡号</td>
				<td><input type="text" name="bankcard" value="{$fgsxq['bankcard']}"></td>
			</tr>
			
		
			
	
           
            <tr>
                <td colspan="2">
   
                    <input name="token" type="hidden" value="{$_W['token']}" />
                              </td>
				 <td colspan="2">
               
                    <input type="submit" class="btn btn-primary" name="submitadd" value="提交" />
				             </td>
            </tr>
        </table>
      </form>
       
    </div>
</div>
{/if}
{if $css=='jxszch'}
注册成功！请联系对应分公司进行审核。
{/if}



  