{template 'headergs'}
{template 'common'}
<script type="text/javascript" src="resource/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="resource/js/lib/jquery-ui-1.10.3.min.js"></script>
<link type="text/css" rel="stylesheet" href="../addons/eso_sale/images/uploadify_t.css" />
<style type='text/css'>
    .tab-pane { padding:20px 0 20px 0;}

</style>
<div class="col-sm-10 col-md-10">
  {if $css=='mydl'}
  <div class="main">
    <div class="panel panel-primary">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form class="form-horizontal"  action="{php echo $this->createMobileUrl('c_mygoods')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from1">
            <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">商品名称</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input class="form-control" name="sname" id="" type="text" value="{$_GPC['sname']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <select name="status" class='form-control'>
							<option value="0" >全部</option>
                            <option value="1" >上架</option>
                            <option value="2" >下架</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分类</label>
                    <div class="col-xs-6 col-sm-4">
                        <select class="form-control" style="margin-right:15px;" name="cate_1" onchange="fetchChildCategory(this.options[this.selectedIndex].value)">
                            <option value="0">请选择一级分类</option>
                            {loop $category $row}
                            {if $row['parentid'] == 0}
                            <option value="{$row['id']}" {if $row['id'] == $_GPC['cate_1']} selected="selected"{/if}>{$row['name']}</option>
                            {/if}
                            {/loop}
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <select class="form-control input-medium" id="cate_2" name="cate_2">
                            <option value="0">请选择二级分类</option>
                            {if !empty($_GPC['cate_1']) && !empty($children[$_GPC['cate_1']])}
                            {loop $children[$_GPC['cate_1']] $row}
                            <option value="{$row[0]}" {if $row[0] == $_GPC['cate_2']} selected="selected"{/if}>{$row[1]}</option>
                            {/loop}
                            {/if}
                        </select>
                    </div>
                   
                
                </div>
					<div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分公司：{$fgs}</label>
					</div>
       		

         	<div class=" col-xs-12 col-sm-2 col-lg-2">
                        <button class="btn btn-default" name="subcx" value="1"> 搜索</button>
                       
                    </div>
        
            </form>
              </div>
    </div>
    <div style="padding:15px;">
        <table class="table table-hover">
            <thead class="navbar-inner">
            <tr>
                <th>商品名称</th>
				<th>商品编号</th>
           
             <th>申请状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
  

            <form action="{php echo $this->createMobileUrl('c_mygoods')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
        
           	{loop $commission  $item}
            <tr>
            
				
				<td>{if !empty($category[$item['pcate']])}<span class="text-error">[{$category[$item['pcate']]['name']}] </span>{/if}{if !empty($children[$item['pcate']])}<span class="text-info">[{$children[$item['pcate']][$item['ccate']][1]}] </span>{/if}{$item[title]}</td>
				<td>{$item[goodssn]}</td>
			
				<th>{if $item[dl]==2}<font color="#009933">已代理</font>{else}未申请{/if}</th>
				<td><a href="{php echo $this->createMobileUrl('c_goods_red',array('id'=>$item['gsid']))}">详情</a>
                <!--<a href="{php echo $this->createMobileUrl('c_ewm', array('id' => $item['bid'], 'op' => 'post'))}" class="btn btn-primary" target="_blank" >二维码</a>-->
				<a href="{php echo $this->createMobileUrl('c_goodsdj_xq', array('bid' => $item['bid']))}" class="btn btn-primary">商品价格制定</a>
				</td>
				
               
            </tr>
            {/loop}
            
            </tbody>
			
            <tr>
                <td colspan="2">
   
                    <input name="token" type="hidden" value="{$_W['token']}" />
                   
                </td>

            </tr>
        </table>
        </form>
        {$pager}
    </div>
</div>
</div>
<script type="text/javascript">
    <!--
    var category = {php echo json_encode($children)};
    function setProperty(obj,id,type){

        $(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createMobileUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    $(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data)
                    if(d.result==1){
                        $(obj).toggleClass("label-info");
                    }
                },"json");
    }

    function setProperty1(obj,id,type){

        //$(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createMobileUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    //$(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data);
                    if(d.data==1){
                        obj.innerHTML = '销售中';
                    }
                    if(d.data==0){
                        obj.innerHTML = '已下架';
                    }
                    $(obj).toggleClass("label-success");
                },"json");
    }
    //-->
</script>


{/if}

  