
<link rel="stylesheet" href="kd/themes/default/default.css" />
	<script src="kd/kindeditor.js"></script>
		<script src="kd/lang/zh_CN.js"></script>
		<script>
			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});

	
				K('#image1').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url1').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url1').val(url);
								editor.hideDialog();
							}
						});
					});
						var img1='图片1上传中！';
					document.getElementById('img1').innerHTML=img1;
				});
				K('#image2').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url2').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url2').val(url);
								editor.hideDialog();
							}
						});
					});
						var img2='图片2上传中！';
					document.getElementById('img2').innerHTML=img2;
				});
				K('#image3').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url3').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url3').val(url);
								editor.hideDialog();
							}
						});
					});
						var img3='图片3上传中！';
					document.getElementById('img3').innerHTML=img3;
				});
				K('#image4').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url4').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url4').val(url);
								editor.hideDialog();
							}
						});
					});
						var img4='图片4上传中！';
					document.getElementById('img4').innerHTML=img4;
				});
				K('#image5').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							showRemote : false,
							imageUrl : K('#url5').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url5').val(url);
								editor.hideDialog();
							}
						});
					});
						var img5='图片5上传中！';
					document.getElementById('img5').innerHTML=img5;
				});
			
			});
		</script>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片1</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url1" value="{$hdp2[0]}" name="thumb1" class="form-control"/>
		<div id="img1">
		<img src="{$hdp2[0]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image1" value="选择图片" class="btn btn-primary" /></div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片2</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url2" value="{$hdp2[1]}" name="thumb2" class="form-control"/>
		<div id="img2">
		<img src="{$hdp2[1]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image2" value="选择图片" class="btn btn-primary" /></div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片3</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url3" value="{$hdp2[2]}" name="thumb3" class="form-control"/>
		<div id="img3">
		<img src="{$hdp2[2]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image3" value="选择图片" class="btn btn-primary" /></div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片4</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url4" value="{$hdp2[3]}" name="thumb4" class="form-control"/>
		<div id="img4">
		<img src="{$hdp2[3]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image4" value="选择图片" class="btn btn-primary" /></div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品幻灯片5</label>	
    <div class="col-sm-4 col-xs-12">
		<input type="text" id="url5" value="{$hdp2[4]}" name="thumb5" class="form-control"/>
		<div id="img5">
		<img src="{$hdp2[4]}" width="300" height="300" />
		</div>		
    </div>
	<div class="col-sm-4 col-xs-6"><input type="button" id="image5" value="选择图片" class="btn btn-primary" /></div>
</div>

