﻿{template 'headergs'}
{template 'common'}
<br><br><br><br>

{if $_SESSION['flag']==1}
<div class="col-sm-10 col-md-10">
<div class="row" style="margin-top: -90px;">
    <div class="col-sm-2 col-md-2">
        <div class="service" style="background-color: #eee;">
            <i class=" icon-tasks" title="cash"></i>
            <div class="service-description">
                <h4>订单管理</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-2">
        <a href="{php echo $this->createMobileUrl('c_allgoods')}">
            <div class="service">
                <i class="icon-shopping-cart" title="cash"></i>
                <div class="service-description">
                    <h4>代理商品申请</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2 col-md-2">
        <div class="service" style="background-color: #eee;">
            <i class="icon-money" title="cash"></i>
            <div class="service-description">
                <h4>佣金审核</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-2">
        <div class="service" style="background-color: #eee;">
            <i class="icon-list-alt" title="cash"></i>
            <div class="service-description">
                <h4>报表</h4>
            </div>
        </div>
    </div>
</div>
</div>
{/if}


