{php $bootstrap_type = 3;}
{template 'header'}
{template 'common'}
<link type="text/css" rel="stylesheet" href="../addons/sale/images/style.css?{TIMESTAMP}">
<div class="head">
    <a href="javascript:history.back();" class="bn pull-left"><i class="fa fa-angle-left"></i></a>
    <span class="title">品牌介绍</span>
    <a href="{php echo $this->createMobileUrl('list')}" class="bn pull-right"><i class="fa fa-home"></i></a>
</div>
<div class="tabbable" style="padding-bottom:30px;">
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="mobile-div img-rounded" style="text-align: center; padding:10px;font-weight:bold;overflow:hidden;word-break:break-all">
                {if !empty($cfg['logo'])}
                <img src="{$_W['attachurl']}{$cfg['logo']}" width="100%" />
                {/if}
                {if !empty($cfg['shopname'])}
                <br/><br/>{$cfg['shopname']}
                {else}
                <br/><br/>品牌介绍
                {/if}
            </div>
            <div class="mobile-div img-rounded" style="padding:0 15px;">
                {if !empty($cfg['phone'])}
                <a href="tel:{$cfg['phone']}" class="mobile-li"><i class="fa fa-hand-up pull-right"></i>电话： {$cfg['phone']}</a><br>
                {/if}
                {if !empty($cfg['address'])}
                <a href="http://api.map.baidu.com/geocoder?address={$cfg['address']}&output=html" class="mobile-li"><i class="fa fa-hand-up pull-right"></i>地址：{$cfg['address']}</a>
                {/if}
            </div>
            {if !empty($cfg['description'])}
            <div class="mobile-div img-rounded " style='overflow:hidden;word-break:break-all;padding:15px;'>
                {$cfg['description']}
            </div>
            {/if}
        </div>
    </div>
</div>
{template 'footer'}
{template 'footerbar'}