{template 'header'}
<link type="text/css" rel="stylesheet" href="../addons/sale/recouse/credit/base.css" />
<link type="text/css" rel="stylesheet" href="../addons/sale/recouse/credit/style.css?v=1" />
         <script type="text/javascript" src="../addons/sale/recouse/credit/script.js"></script>
<title>我兑换的奖品</title>
	<section class="order">
        <section class="order_content">
            <section class="order_item">
		<aside>我的积分：{$profile['credit1']}</aside>
            </section>
        </section>

    	<!--content-->
        <section class="order_content">
			{loop $award_list $item}
        	<!--item-->
            <section class="order_item">
				<aside>{$item['title']}</aside>
                <article>
				<section class="order_item_l"><img src="{php echo $_W['attachurl'].$item['logo']}" /></section>
                	<section class="order_item_r">
					<p>价值：<span class="red20">{$item['price']}</span></p>
					<p>消耗积分：{$item['credit_cost']}</p>
					<p>兑换日期： {php echo date('Y-m-d H:i:s', $item['createtime'])}</p> 
                </section>
                </article>
            </section>
            <!--item end-->
			{/loop}
        </section>
        <!--content end-->
	</section>
{template 'footer'}
