<div class="list-item img-rounded">
            <div>
                <a href="{php echo $this->mturl('detail', array('id' => $item['id']))}"><img src="{$_W['attachurl']}{$item['thumb']}"></a>
                <span class="title"><a href="{php echo $this->mturl('detail', array('id' => $item['id']))}">{$item['title']}</a>{if $item['type'] == '2'}(虚拟){/if}</span>

            </div>
            <span class="sold">
                <span class="soldnum pull-left">已售{$item['sales']}件</span>
                <span class="price pull-right">{$item['marketprice']}元</span>
            </span>
            <!--	<div class="add-cart" onclick="order.add({$item['id']})"><i class="icon-sale-cart"></i> 添加到购物车</div>-->
        </div>