{template 'common/header'}
<div class="main">
	<div class="form form-horizontal">
		<h4>审核详细信息</h4>
		<table class="tb">
		<form action="./index.php" method="get" role="form">
			<input type="hidden" name="id" value="{$info['id']}">
			<input type="hidden" name="shareid" value="{$shareid}">
			<input type="hidden" name="op" value="display">
			<input type="hidden" name="opp" value="checked">
			<input type="hidden" name="act" value="module" />
            <input type="hidden" name="name" value="sale" />
            <input type="hidden" name="m" value="sale" />
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
			<input type="hidden" name="do" value="commission" />
			
			<tr>
				<th style="width:200px"><label>设置审核状态</label></th>
				<td style="text-align: left;">
					<label class="radio inline"><input type="radio" name="status" value="-1" {if $info['status']==-1}checked{/if}>无效</label>
					<label class="radio inline" ><input type="radio" name="status" value="1" {if $info['status']==1}checked{/if}>暂不处理</label>
					<label class="radio inline" ><input type="radio" name="status" value="2" {if $info['status']==2}checked{/if}>通过</label>
				</td>
			</tr>
			<tr>
				<th style="width:200px"><label for="">真实姓名</label></th>
				<td>
					{if $user['realname']!=""} {$user['realname']}{else}未完善{/if}
				</td>
			</tr>
			<tr>
				<th style="width:200px"><label for="">手机号码</label></th>
				<td>
					{if $user['mobile']!=""} {$user['mobile']}{else}未完善{/if}
				</td>
			</tr>
			<tr>
				<th><label for="">申请时间</label></th>
				<td>
					{php echo date('Y-m-d H:i:s', $info['applytime']);}
				</td>
			</tr>
			<tr>
				<th><label for="">商品名称</label></th>
				<td>
					{$info['title']}
				</td>
			</tr>
			<tr>
				<th><label for="">商品价格</label></th>
				<td>
					{$info['price']}
				</td>
			</tr>
			<tr>
				<th><label for="">购买数量</label></th>
				<td>
					{$info['total']}
				</td>
			</tr>
			<tr>
				<th><label for="">申请佣金</label></th>
				<td>
					<font color="red">{$info['commission']} (总：{php echo ($info['commission']*$info['total'])}元)</font>
				</td>
			</tr>
			<tr>
				<th><label for="">2级申请佣金</label></th>
				<td>
					<font color="red">{$info['commission2']} (总：{php echo $info['commission2']*$info['total']}元)</font>
				</td>
			</tr>
				<tr>
				<th><label for="">3级申请佣金</label></th>
				<td>
					<font color="red">{$info['commission3']} (总：{php echo $info['commission3']*$info['total']}元)</font>
				</td>
			</tr>
			<tr>
				<th><label for="">备注</label></th>
				<td>
					<textarea name="content">{$info['content']}</textarea>
				</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<a href="{php echo $this->createWebUrl('commission', array('op'=>'display'))}"><input type="button" class="btn btn-primary span3" name="submit" value="返回" /></a>
					<input type="submit" class="btn btn-primary span3" name="submit" onclick="return confirm('确认审核吗？');" value="审核" />
				</td>
			</tr>
			</form>
		</table>
	</div>
</div>

{template 'common/footer'}
