{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('commission', array('op'=>'display'))}">佣金申请</a></li>
    <li><a href="{php echo $this->createWebUrl('commission', array('op'=>'applyed'))}">佣金结算</a></li>
    <li><a href="{php echo create_url('site/entry', array('do' => 'zhifu', 'op' => 'list','m' => 'sale','uniacid'=>$_W['uniacid']))}">打款操作</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('commission', array('op'=>'invalid'))}">审核无效</a></li>
</ul>
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="m" value="sale" />
                <input type="hidden" name="do" value="commission" />
                <input type="hidden" name="op" value="invalid" />
                <input type="hidden" name="opp" value="sort" />
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">真实姓名</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input class="form-control" name="realname" type="text" value="{$sort['realname']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">手机号码</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input class="form-control" name="mobile" type="text" value="{$sort['mobile']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                    <div class=" col-xs-12 col-sm-2 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="stat">
        <div class="stat-div">
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <span class="pull-right" style="color:red; padding:10px 10px 0 0;">总数：<?php echo $total;?></span>
                    <span class="brand">名单</span>
                </div>
            </div>
            <div class="sub-item" id="table-list">
                <h4 class="sub-title" style="float:right;color:red;"><a href="">刷新</a></h4>
                <h4 class="sub-title">审核无效名单</h4>

                <div class="sub-content">
                    <table class="table table-hover">
                        <thead class="navbar-inner">
                        <tr>
                            <th class="row-hover">真实姓名</th>
                            <th class="row-hover">手机号码</th>
                            <th class="row-hover">审核时间</th>
                            <th class="row-hover">状态</th>
                            <th class="row-hover">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $list $v}
                        {if !empty($member['realname'][$v['shareid']]) && !empty($member['mobile'][$v['shareid']])}
                        <tr>
                            <td>
                                {$member['realname'][$v['shareid']]}
                            </td>
                            <td>
                                {$member['mobile'][$v['shareid']]}
                            </td>
                            <td>
                                {php echo date('Y-m-d',$v['checktime'])}
                            </td>
                            <td>
                                <span class="label label-important">审核无效</span>
                            </td>
                            <td>
                                <a href="{php echo $this->createWebUrl('commission',array('op'=>'invalid', 'opp'=>'delete', 'id' => $v['id']));}" onclick="return confirm('确定要删除该无效名单吗？');">删除</a>
                                <a href="{php echo $this->createWebUrl('commission',array('op'=>'invalid', 'opp'=>'detail', 'id' => $v['id'], 'shareid'=>$v['shareid']));}">详情</a>
                            </td>
                        </tr>
                        {/if}
                        {/loop}
                        </tbody>
                    </table>
                </div>
                {$pager}
            </div>
        </div>
    </div>
</div>
{template 'common/footer'}