{template 'common/header'}
<ul class="nav nav-tabs">
 	<li ><a href="{php echo create_url('site/module', array('do' => 'zhifu', 'op' => 'list','name' => 'sale','uniacid'=>$_W['uniacid']))}">满足打款会员</a></li>
 	{if $_GPC['from_user']}<li class="active"><a >会员打款操作</a></li> {/if}
</ul>
    <div class="main">
	
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit="return validate(this);">
			<h4>会员打款 </h4>
			<table class="tb">
				<tr>
					<th style="text-align: right;"><label>真实姓名:</label></th>
					<td >
						{$profile['realname']}
					</td>
				</tr>
				<tr>
					<th style="text-align: right;"><label>联系方式:</label></th>
					<td >
						{$profile['mobile']}
					</td>
				</tr>
				<tr>
					<th style="text-align: right;"><label>未打款金额:</label></th>
					<td style="color:#f00;">
						{php echo round($profile['commission'] - $profile['zhifu'],2)}
					</td>
				</tr>
				<tr>
					<th style="text-align: right;"><label>打款金额:</label></th>
					<td>
						<input type="text" name="chargenum" class="span1" value="" /><input type="hidden"  name="from_user" value="{$_GPC['from_user']}" />
						<input type="hidden" name="token" value="{$_W['token']}" />
						<input name="submit" type="submit" value="打 款" class="btn btn-primary span2">
					</td>
				</tr>
				
				
			</table>
		</form>
		<div class="stat">
		
			<div class="stat-div">
				
				<div class="sub-item" id="table-list">
					<h4 class="sub-title" style="float:right;color:red;">总数：{$total} <a href="">刷新</a> </h4>
					<h4 class="sub-title">打款明细</h4>

					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
									<th class="row-hover">日期</th>
									<th class="row-hover">类型</th>
									<th class="row-hover">金额</th>
									<!--<th class="row-hover">模块</th>-->
									<th class="row-hover">说明</th>
								</tr>
							</thead>
							<tbody>
							
								{loop $list $v}
									
								<tr>
									<td style="text-align: center;">
										{$v['tid']}
									</td>
									<td style="text-align: center;">
										打款
										
									</td>
									<td style="text-align: center;">
										{$v['fee']}	
									</td>
									<!--<td style="text-align:center;">
										{$mtype[$v['module']]}
									</td>-->
									<td style="text-align: center;">
										{$v['tag']}								
									</td>
								</tr>
									
								{/loop}
							</tbody>
						</table>
					</div>
					
					{$pager}
				</div>
			</div>
		</div>
    </div>


{template 'common/footer'}