{template 'common/header'}
	<div class="cleatfix">
		{template 'platform/stat-rule_search'}
		<div class="panel panel-default">
			<div class="panel-heading">
				详细数据
			</div>
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="row-hover">规则<i></i></th>
							<th style="width:80px;">模块<i></i></th>
							<th style="width:80px;">命中次数<i></i></th>
							<th style="width:150px;">最后触发<i></i></th>
							<th style="width:80px;">操作</th>
						</tr>
					</thead>
					<tbody>
						{loop $list $row}
						<tr>
							<td class="row-hover">
								{if empty($row['rid'])}
									N/A
								{else}
									<a target="main" href="{$rules[$row['rid']]['url']}">{$rules[$row['rid']]['name']}</a>
								{/if}
							</td>
							<td>{if $rules[$row['rid']]['module']}{$rules[$row['rid']]['module']}{else}default{/if}</td>
							<td>{$row['hit']}</td>
							<td style="font-size:12px; color:#666;">{php echo date('Y-m-d <br /> H:i:s', $row['lastupdate']);}</td>
							<td>
								<a target="main" href="{php echo url('platform/stat/trend', array('id' => $row['rid']))}" class="btn btn-default btn-small" data-toggle="tooltip" data-placement="top" title="使用率走势"><i class="fa fa-bar-chart-o"></i></a>
							</td>
						</tr>
						{/loop}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{$pager}
	<script>
		require(['bootstrap'],function($){
			$('.btn').hover(function(){
				$(this).tooltip('show');
			},function(){
				$(this).tooltip('hide');
			});
		});
	</script>
{template 'common/footer'}
