{template 'common/header'}
	<div class="clearfix">
	{template 'platform/stat-rule_search'}
		<h4 class="sub-title">详细数据</h4>
		<form action="" method="post" onsubmit="">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>规则名称<i></i></th>
						<th style="width:80px;">模块<i></i></th>
						<th style="width:150px;">操作</th>
					</tr>
				</thead>
				<tbody>
					{loop $list $row}
					<tr>
						<td class="row-hover row-first">
							{if empty($row['id'])}
								N/A
							{else}
								<a target="main" href="{$row['url']}">{$row['name']}</a>
							{/if}
						</td>
						<td>{$row['module']}</td>
						<td>
							<a target="main" href="{php echo url('platform/stat/trend', array('id' => $row['id']))}" class="btn btn-default btn-small" title="使用率走势"><i class="fa fa-bar-chart-o"></i></a>
						</td>
					</tr>
					{/loop}
				</tbody>
			</table>
		</div>
		</form>
		{$pager}
	</div>

{template 'common/footer'}
