/*index643973929211478*/
@charset "utf-8";
.clearfix:after{clear:both;display:block;content:"...";visibility:hidden;height:0;font-size:0;}
.clearfix{*zoom:1;}
body{font:14px/1.5;color:#373737;}
a{text-decoration:none;color:#373737;}

.tab{height:50px;margin:12px 0px 13px 0px;font-size:16px;}
.tab ul{background-color: #464646;background-image: url("../images/nav_bj.png");background-repeat: repeat-x;height:39px;border-bottom:1px solid #000;}
.tab li{float:left;display:inline;line-height:40px;text-align:center;width:33%;}
.tab li a{width:100%;height:40px;display:inline-block;*display:inline;*zoom:1;color:#eee}
.tab li a.first{ background-image: url("../images/arrow.gif");background-position: center bottom;background-repeat: no-repeat;}

.show{position: relative;top: 0;left: 0;}
.show .icon{right:20px;bottom:20px;position:absolute;z-index: 9;}
.show .icon a{display:block;width:31px;height:31px;background:url(../images/bg-pro-intro.png) no-repeat;}
.show .icon .share{background-position:0 0;margin-bottom:18px;}
.show .icon .collect{background-position:-62px 0;}
.show .icon .no-collect{background-position:-31px 0;}
.banner_frm{width:100%;}

.pro-info{margin:0 auto;font-size:14px;}
.pro-info .lack{width:90%;margin:0 auto 10px;}
.pro-name{ background-color: #E5E5E5;font-size: 16px;margin-bottom:8px;padding: 8px 0;text-align: center;width:100% !important}
.pro-name strong{color:#F7762E;font-weight:normal;}
.price{margin:0 10px;color:#979797;}
.market-price{text-decoration:line-through;float:left;display:inline-block;margin-left:10px;}
.market-price strong{font-weight:normal;color:#737373;line-height:32px;}
.jx-price{font-size:14px;margin-bottom:5px;float:left;display:inline-block;}
.jx-price i{color:#F7762E;margin-right: 3px;}
.jx-price strong{color:#F7762E;font-weight:normal;font-size:22px;}
.jx-pricem{font-size:14px;margin-bottom:5px;float:left;display:inline-block;}
.jx-pricem i{color:#F7762E;margin-right: 3px;}
.jx-pricem strong{color:#737373;font-weight:normal;font-size:22px;text-decoration:line-through;}
.brand{margin:0 10px;color:#979797;margin-bottom:10px;}
.brand p{float:left;}
.brand .name{margin-right:15px;}
.brand .detial{background-color:#aeaeae;padding-left:5px;padding-right:5px;}
.brand .detial a{color:#fff;}
.spec{margin:0 10px;color:#979797;margin-bottom:10px;}
.spec p{float:left;}
.spec .name{margin-right:15px;}
.spec .detial A {
    margin-left: 2px;
    background-color: #FFFFFF;
    border: 2px solid #C8C9CD;
    color: #000000;
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
	cursor:pointer;
}
.spec .detial A:hover {
    margin-left: 2px;
    background-color: #FFFFFF;
    border: 2px solid #F7762E;
    color: #000000;
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
	cursor:pointer;
}
.spec .detial A:focus {
    outline-style: none;
	cursor:pointer;
}
.spec .detial A.selected {
    background: url("../images/select.gif") #FFF no-repeat scroll right bottom;
    border: 2px solid #F7762E;
    margin-left: 2px;
	cursor:pointer;
}
.spec .selected A:hover {
    background: url("../images/select.gif") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    border: 2px solid #CC0000;
    margin: -1px;
	cursor:pointer;
}
.goods_number{margin:0 10px 15px 10px;}
.goods_number .name{float:left;display:inline-block;margin-right:15px;color:#979797;}
.goods_number .shopcount{color:#F7762E;font-weight:bold;font-size:15px;}
.goods_number .addForm{float:left;margin:0;width:92px;height:20px;border:1px solid #bfbfbf;background-color:#fff;}
.goods_number .addForm input{float:left;display:inline-block;margin:0;font-size:14px;border:none;}
.goods_number .addForm .btn{width:15px;height:20px;border:none;border-radius:0;background:none;background-color:#f2f2f2;color:#6f6f6f;line-height:20px;}
.goods_number .addForm .text{width:60px;height:20px;border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;border-radius:0;line-height:20px;box-shadow: none;}
.free{float:left;display:inline-block;margin-left:15px;color:#FB3C3C;}
.free strong{font-weight:normal;}
.free a{color:#ccc;font-weight:normal;}
.free em{background-image:url('../images/bg-pro-intro.png');background-position:-136px 0px;display:inline-block;width:14px;height:14px;vertical-align:middle;margin-right:3px}
.goods_number #select_area,.goods_number #msg{float: left;display: inline-block;*display: inline;*zoom:1;}
.goods_number #select_area{width: 94px;height: 23px;color: #979797;font-size: 14px;font-family: 微软雅黑;margin-right: 14px;margin-left: -2px;}
.goods_number #msg{color: #d14430;}


.div_but1{margin:0 10px 10px 10px;}
.div_but1 .buybut{display:inline-block;width:45%;height:35px;overflow:hidden;float:left;}
.div_but1 .cartbut{display:inline-block;width:45%;height:35px;overflow:hidden;float:right;}
#btn1 .buybut .ljgm{background-color:#fff; color:#d22147;border:1px solid #d22147;border-radius:4px;}
#btn1 .bnt_dh {margin:0 10px 10px 10px;display:inline-block;width:45%;height:35px;overflow:hidden;float:left;background-color:#ff9f34;text-align:center;color:#fff;}
#btn1 .cartbut .add{background-color:#d22147;}
#btn2 .buybut .ljgm{background-color:#8c8d91;}
#btn2 .cartbut .add{background-color:#8c8d91;}
.div_but1 input{border:none;background:none;border-radius:0;font-family:微软雅黑;font-weight:normal;text-align:left;}
.div_but1 a{display:inline-block;width:100%;height:100%;text-align:center;line-height:37px;color:#fff;}
.div_but1 i{display:inline-block;background:url(../images/base-icon.png) no-repeat;margin-top:10px;margin-right:8px;vertical-align:top;}
.div_but1 .buybut i{width:11px;height:16px;background-position:-108px 0;}
.div_but1 .cartbut i{width:18px;height:16px;background-position:-126px 0;}
.btn{width:80px;margin:0;}

.timer{width:90%;margin:0 auto 10px;color:#565656;}
.timer i{display:inline-block;width: 14px;height: 13px;margin-left: 3px;margin-right: 3px;background: url(../images/icon-groupbuy-detial.jpg) no-repeat 0 -90px;}
.timer strong{color:#dc160d;}

.present{width:90%;margin:0 auto 7px;height:48px;}
.present i{float:left;display:inline-block;width:12px;height:14px;background:url(../images/icon-groupbuy-detial.jpg) no-repeat 0 -105px;vertical-align:top;margin:16px 4px auto 3px;}
.present .name{float:left;display:inline-block;margin-right:12px;line-height:48px;}
.present .a_img{float:left;display:inline-block;width:46px;height:46px;border:1px solid #ccc;margin-right:6px;}
.present a img{width:46px;height:46px;}
.present-name{width:90%;margin:0 auto;}

.active{margin:0 10px;margin-top:15px;}
.relative{font-size:14px;display:inline-block;vertical-align:top;color:#afafaf;}
.relative-pro{display:inline-block;max-height:60px;overflow:hidden;}
.relative-pro a{display:block;color:#afafaf;}
.relative em{background-image:url('../images/bg-pro-intro.png');background-position:-136px -29px;display:inline-block;width:14px;height:14px;vertical-align:middle;margin-right:3px}
.relative a{margin-left:10px;margin-right:18px;color:#666;}
.deadline{font-size:14px;margin-bottom:7px;}
.deadline em{background-image:url('../images/bg-pro-intro.png');background-position:-136px -58px;display:inline-block;width:14px;height:14px;vertical-align:middle;margin-right:3px}
.deadline strong{color:#ff0033;font-weight:normal;}
.tip{font-size:14px;color:#6a6a6a;margin-bottom:15px;}
.tip em{background-image:url('../images/bg-pro-intro.png');background-position:-136px -86px;display:inline-block;width:14px;height:14px;vertical-align:middle;margin-right:3px}

.pro-detial{height: auto;margin: 15px 10px 10px 10px;background-color: #fff;font-size:14px;}
.pro-detial .judge{width: 98%;height: 51px;margin: 0 auto;border-bottom: 1px dotted #c6c6c6;position: relative;top: 0;left: 0;overflow: hidden;}
.pro-detial span{color: #7d7d7d;line-height: 51px;float: left;display: inline-block;*display: inline;*zoom:1;}
.pro-detial a{width: 100%;height: 100%;position: absolute;top: 0;left: 0;display: inline-block;}
.pro-detial .judge .score{margin: 16px 20px auto 10px;}
.pro-detial .judge strong{color: #e0312e;font-weight: normal;}
.pro-detial .judge .all{margin-left: 20px;margin-right: 10px;}
.pro-detial .pro-intro{width: 98%;height: auto;margin: 0 auto;position: relative;top: 0;left: 0;}
.pro-detial .pro-intro span{}
.pro-detial .pro-intro img{max-width: 100%;height: auto;width: auto\9;}
.pro-detial .arrow{width: 7px;height: 13px;background: url(../images/base-icon.png) no-repeat -106px -25px;float: right;margin-top: 20px;margin-right: 5px;}
.m-ratescore{ display:inline-block; height:20px; width:110px; background:url(../images/bg_comment_list.gif) no-repeat 0 -20px; padding:0; margin:15px 0 0 0; }
.m-ratescore i { display:block; height:20px; background:url(../images/bg_comment_list.gif) no-repeat 0 0; text-indent:-10000px; overflow:hidden; padding:0; margin:0; }


.recommend{margin:0 auto;overflow: hidden;}
.recommend .info{float:left;margin-left: 130px;}
.recommend h2{font-size:16px;font-weight:normal;border-bottom:1px solid #cc000b;margin:0 10px;padding-top:10px;}
.recommend h2 span{display:block;width:65px;height:1px;background-color:#c8c8c8;margin-bottom:-1px;}

.tab_body{overflow:hidden;width:170px; cursor: pointer;}
.tab_body .hidden{display:none;}
.tab_body .on{display:block !important;}
#buy_lay{background-color:#000;position:fixed;left:0px;top:0px;z-index:999;width:100%;height:100%;
filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;display:none}
#buy_lay_frm{z-index:1000;left:0;top:200px;position:fixed;width:100%;height:100%;display:none}
#buy_lay_frm .frm{background-color:#000;color:#fff!important;width:230px;height:100px;margin:auto;opacity: 0.7;border-radius: 5px;}
#buy_lay_frm .tips{height: 63px;border-bottom: 1px solid #6e6e6e;font-size: 15px;line-height: 63px;vertical-align: top;}
#buy_lay_frm .tips i{display: inline-block;width: 30px;height: 30px;background: url(../images/base-icon.png) no-repeat -96px -45px;margin: 15px 10px auto 20px;}
#buy_lay_frm .btns .btn{height: 36px;background: none;background-color: none;float: left;display: inline-block;font-family: 微软雅黑;font-weight: normal;}
#buy_lay_frm .btns #btn_continue{width:115px;border-right:1px solid #6e6e6e;border-radius:0;}
#buy_lay_frm .btns #btn_check{width: 114px;}

.item-container{
	width: 300px;
	overflow: hidden;
	margin: 20px auto 0;
}
.item-list{
	width: 99999px;
	height:115px;
	overflow: hidden;
	position:relative;
	left:0px;
}
.scroll-page{
	display:inline-block;
	width:15px;
	height:15px;
	background: url(../images/second-level-page.png) no-repeat;
	position: relative;
	top:65px;
	opacity: 1;
}
.item-list ul{
	float: left;
	height:115px;
	
}
.item-list ul li {
	float: left;
	margin-left:5px;
	margin-right:5px;
	width:90px;
	overflow:hidden;
}
.discount{
	display: block;
	height:20px;
	width:40px;
	/*background: url(../images/base-icon.png) no-repeat 0 -21px;*/
	color: #fff;
	text-align: center;
	position: relative;
	top:20px;
	z-index: 10;
	background-color:#F7762E;
}
.new-cart{
	display:inline-block;
	height:20px;
	width:20px;
	background: url(../images/second-level-page.png) no-repeat -33px -103px;
	position: relative;
	top:-20px;
	right:-70px;
	z-index: 10;
}
.new-cart a{
	width: 20px;
	height: 20px;
	display: inline-block;
}
.item-pic{
	display:block;
	height:95px;
	width:90px;
	overflow:hidden;
}
.item-pic img{
	height:93px;
	width:88px;
	border: 1px #e6e6e6 solid;
}
@media (min-width:641px){
	.item-container{width:600px;margin:0 auto;}
	.item-list{margin:20px auto 0;}
	.recommend{width:100%;}
	.scroll-page{display: none;}
}

.jiathis_style_32x32 .jiathis_separator{margin:0;}
.icon .jiathis_style_32x32 .jtico{padding-left:0!important;}

/*banner*/
.sp .flexslider .slides img{width: 300px;height: auto;margin: 0 auto;}
