﻿{template 'headergs'}
{template 'common'}

<table>
<tr><td>{$ewm}</td>

<td>

<td>

<table>
<tr>
<td width="200px">分公司</td><td>{$item['dname']}</td>
</tr>
<tr>
<td width="200px">经销商</td><td>{$item['cname']}</td>
</tr>

<tr>
<td width="200px">商品名称</td><td>{$item['title']}</td>
</tr>
<tr>
<td width="200px">零售价</td><td>{$item['lsj']}</td>
</tr>
<tr>
<td width="200px">产地</td><td>{$item['guojia']}</td>
</tr>
<tr>
<td width="200px">品类</td><td>{if !empty($category[$item['pcate']])}<span class="text-error">[{$category[$item['pcate']]['name']}] </span>{/if}{if !empty($children[$item['pcate']])}<span class="text-info">[{$children[$item['pcate']][$item['ccate']][1]}] </span>{/if}</td>
</tr>
</table>


</td></tr>
</table>
