{template 'headergs'}
{template 'common'}
	
<script>var require = { urlArgs: 'v=2015041921' };</script>
	<script src="./resource/js/require.js"></script>
	<script src="./resource/js/app/config.js"></script>
	<script src="./resource/js/lib/jquery-1.11.1.min.js"></script>

  </head>
  <body>
<div class="col-sm-10 col-md-10">
  {if $css=='dlsq'}
  <div class="main">
    <div class="panel panel-primary">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form class="form-horizontal"  action="{php echo $this->createMobileUrl('c_allgoods')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from1">
           
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">商品名称</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input class="form-control" name="sname" id="" type="text" value="{$_GPC['sname']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">销售状态</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <select name="status" class='form-control'>
							<option value="0" >全部</option>
                            <option value="1" >上架</option>
                            <option value="2" >下架</option>
                        </select>
                    </div>
                </div>
				{if $_SESSION['vip']==3}
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">代理状态</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <select name="dlzt" class='form-control'>
                        {if $_GPC['dlzt']}<option value="$_GPC['dlzt']" >
                        {if $_GPC['dlzt']==0}全部
                        {else if $_GPC['dlzt']==1}已申请
                        {else if $_GPC['dlzt']==2}未代理
                        {else if $_GPC['dlzt']==3}已代理
                        {/if}
                        </option>{/if}
							<option value="0" >全部</option>
                            <option value="1" >已申请</option>
                            <option value="2" >未代理</option>
                            <option value="3" >已代理</option>
                        </select>
                    </div>
                </div>
				{/if}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分类</label>
                    <div class="col-xs-6 col-sm-4">
                        <select class="form-control" style="margin-right:15px;" name="cate_1" onChange="fetchChildCategory(this.options[this.selectedIndex].value)">
                            <option value="0">请选择一级分类</option>
                            {loop $category $row}
                            {if $row['parentid'] == 0}
                            <option value="{$row['id']}" {if $row['id'] == $_GPC['cate_1']} selected="selected"{/if}>{$row['name']}</option>
                            {/if}
                            {/loop}
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <select class="form-control input-medium" id="cate_2" name="cate_2">
                            <option value="0">请选择二级分类</option>
                            {if !empty($_GPC['cate_1']) && !empty($children[$_GPC['cate_1']])}
                            {loop $children[$_GPC['cate_1']] $row}
                            <option value="{$row[0]}" {if $row[0] == $_GPC['cate_2']} selected="selected"{/if}>{$row[1]}</option>
                            {/loop}
                            {/if}
                        </select>
                    </div>
                   
                
                </div>
                      
       		

         	<div class=" col-xs-12 col-sm-2 col-lg-2">
                        <button class="btn btn-default" name="subcx" value="1"> 搜索</button>
                       
                    </div>
        
            </form>
              </div>
    </div>
    <div style="padding:15px;">
        <table class="table table-hover">
            <thead class="navbar-inner">
            <tr>
            
                <th>gid</th>
                <th>商品名称</th>
				<th>商品编号</th>
                {if $_SESSION['vipid']==3}
            <th>申请状态</th>
            <th>代理？</th>
			{/if}
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
 
            <form action="{php echo $this->createMobileUrl('c_allgoods')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
        {php $i=0;}
           	{loop $list  $item}
            <tr>
            	
				<th>{$item['gsid']}</th>
				<td>{if !empty($category[$item['pcate']])}<span class="text-error">[{$category[$item['pcate']]['name']}] </span>{/if}{if !empty($children[$item['pcate']])}<span class="text-info">[{$children[$item['pcate']][$item['ccate']][1]}] </span>{/if}{$item[title]}</td>
				<td>{$item[goodssn]}</td>
				{if $_SESSION['vip']==3}
				<th>
                {if $_GPC['dlzt']==0}
                	{if $list2[$i][gid]==$item[gsid]}
               	 		{if $list2[$i][dl]==1}<font color="#009933">审核中</font>{else if $list2[$i][dl]==2}已代理{else}未申请{/if}
                 	{else}未申请
                	{/if}
                {else}
                	{if $item['dl']==1}<font color="#009933">审核中</font>{else if $item['dl']==2}已代理{else}未申请{/if}
                
                {/if}
                </th>
                <td>
                {if $_GPC['dlzt']==0}
                	{if $list2[$i][gid]==$item[gsid]}
               	 		{if $list2[$i][dl]==1}<input type="checkbox" name="id[{$item[gsid]}]" value="{$item[gsid]}" checked="checked">{else if $list2[$i][dl]==2}<input type="checkbox" name="id[{$item[gsid]}]" value="{$item[gsid]}" checked="checked" disabled="disabled">{else}<input type="checkbox" name="id[{$item[gsid]}]" value="{$item[gsid]}">
                 
               			{/if}
                 		{php $i++;}
                	{else}<input type="checkbox" name="id[{$item[gsid]}]" value="{$item[gsid]}">
                
               		{/if}
               {else if $_GPC['dlzt']==1}<input type="checkbox" name="id[{$item[gsid]}]" value="{$item[gsid]}" checked='checked'>
               {else if $_GPC['dlzt']==2}<input type="checkbox" name="id[{$item[gsid]}]" value="{$item[gsid]}">
               {else if $_GPC['dlzt']==3}<input type="checkbox" name="id[{$item[gsid]}]" value="{$item[gsid]}" checked='checked' disabled="disabled">
                {/if}
                
                </td>
				{/if}
				<td><a href="{php echo $this->createMobileUrl('c_goods_red',array('id'=>$item['gsid']))}">详情</a></td>
               
            </tr>
      
            
            {/loop}
            
            </tbody>
			
            <tr>
                <td colspan="2">
   {if $_SESSION['vip']==3}
                    <input name="token" type="hidden" value="{$_W['token']}" />
                    <input type="submit" class="btn btn-primary" name="submit" value="申请代理"  onclick="javascript:return confirm('确定要申请代理吗？');"/>
					{/if}
                </td>

            </tr>
        </table>
        </form>
        {$pager}
    </div>
</div>
</div>
<script type="text/javascript">
    <!--
    var category = {php echo json_encode($children)};
    function setProperty(obj,id,type){

        $(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createMobileUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    $(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data)
                    if(d.result==1){
                        $(obj).toggleClass("label-info");
                    }
                },"json");
    }

    function setProperty1(obj,id,type){

        //$(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createMobileUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    //$(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data);
                    if(d.data==1){
                        obj.innerHTML = '销售中';
                    }
                    if(d.data==0){
                        obj.innerHTML = '已下架';
                    }
                    $(obj).toggleClass("label-success");
                },"json");
    }
    //-->
</script>
{/if}

  