{template 'headergs'}
{template 'common'}
<script>var require = { urlArgs: 'v=2015041921' };</script>
	<script src="./resource/js/require.js"></script>
	<script src="./resource/js/app/config.js"></script>
	<script src="./resource/js/lib/jquery-1.11.1.min.js"></script>

  </head>
  <body>

  {if $css=='wlpz'}
  <div class="col-sm-10 col-md-10">
	  <div class="panel panel-primary">
		  <div class="panel-heading">物流配置</div>
		  <div class="panel-body">
			  <form class="form-horizontal" action="{php echo $this->createMobileUrl('c_wlpz')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
				  <input type="hidden" name="xid" value="{$_SESSION['vipid']}">
		
					企业信息配置：
				  <div class="form-group">
					  <label   class="col-sm-3 col-md-3 control-label">企业备案名称</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="companyName" class="form-control" value="{$wlpz['companyName']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label  class="col-sm-3 col-md-3 control-label">企业备案编号</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="companyCode" class="form-control"  value="{$wlpz['companyCode']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label   class="col-sm-3 col-md-3 control-label">支付公司编码</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="payCompanyCode"  class="form-control" value="{$wlpz['payCompanyCode']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label   class="col-sm-3 col-md-3 control-label">电商企业编码</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="eCommerceCode"  class="form-control" value="{$wlpz['eCommerceCode']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label  class="col-sm-3 col-md-3 control-label">电商企业名称</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="eCommerceName"  class="form-control" value="{$wlpz['eCommerceName']}">
					  </div>
				  </div>
                  发件人配置：
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">发件人国别</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="gb" class="form-control" value="{$wl['gb']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">发件人姓名</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="name" class="form-control" value="{$wl['name']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">物流企业名称</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="logisCompanyName"  class="form-control"  value="{$wl['logisCompanyName']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">物流企业编号</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="logisCompanyCode" class="form-control" value="{$wl['logisCompanyCode']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">保税模式</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="bonded" class="form-control" value="{$wl['bonded']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <div class="col-sm-offset-3 col-sm-10">
						  <input name="token" type="hidden" value="{$_W['token']}" />

						  <input type="submit" class="btn btn-primary" name="submit" value="提交修改" />
					
					  </div>
				  </div>
			  </form>
		  </div>
	  </div>
  </div>
  {/if}









<!--
  <div class="main">
    <div class="panel panel-info">
       经销商详情
    </div>
    <div style="padding:15px;">
	<form action="{php echo $this->createMobileUrl('c_jxsgl_xq')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
        <table class="table table-hover">
           <input type="hidden" name="xid" value="{$fgsxq['id']}">
			<tr>
				<td>是否可用</td>
				<td width="300px">{if $fgsxq['status']==1}<input type="radio" name="status" value="1" checked="checked">可用<input type="radio" name="status" value="0">不可用{else}<input type="radio" name="status" value="1">可用<input type="radio" name="status" value="0" checked="checked">不可用{/if}</td>
			</tr>
            	<tr>
				<td>是否审核</td>
				<td width="300px">
				{$fl}
				</td>
			</tr>
            <td>所属分公司</td>
				<td width="300px">{$fgsxq['bname']}</td>
			</tr>
			<tr>
				<td>经销商名称</td>
				<td><input type="text" name="name" value="{$fgsxq['name']}"></td>
			</tr>
			<tr>
				<td>经销商地址</td>
				<td><input type="text" name="address" value="{$fgsxq['address']}"></td>
			</tr>
			<tr>
				<td>登陆用户</td>
				<td><input type="text" name="username" value="{$fgsxq['username']}"></td>
			</tr>
			<tr>
				<td>密码</td>
				<td><input type="text" name="pwd" value="{$fgsxq['pwd']}"></td>
			</tr>
			<tr>
				<td>责任人</td>
				<td><input type="text" name="realname" value="{$fgsxq['realname']}"></td>
			</tr>
			<tr>
				<td>手机号</td>
				<td><input type="text" name="mobile" value="{$fgsxq['mobile']}"></td>
			</tr>
			<tr>
				<td>注册时间</td>
				<td>{if $fgsxq['createtime']}{php echo date("Y-m-d H:i:s",$fgsxq['createtime']);}{/if}</td>
			</tr>
			<tr>
				<td>银行卡号</td>
				<td><input type="text" name="bankcard" value="{$fgsxq['bankcard']}"></td>
			</tr>
			<tr>
				<td>支付宝号</td>
				<td><input type="text" name="alipay" value="{$fgsxq['alipay']}"></td>
			</tr>
			<tr>
				<td>备注</td>
				<td><textarea name="content" cols="50" rows="5">{$fgsxq['content']}</textarea></td>
			</tr>
			
	
           
            <tr>
                <td colspan="2">
   
                    <input name="token" type="hidden" value="{$_W['token']}" />
                    <a href="{php echo $this->createMobileUrl('c_fgsgl')}"  class="btn btn-primary" >返回</a>                </td>
				 <td colspan="2">
                    {if $b==1}
                    <input type="submit" class="btn btn-primary" name="submit" value="提交" />
					{/if}
					{if $b==2}
                    <input type="submit" class="btn btn-primary" name="submitadd" value="提交" />
					{/if}                </td>
            </tr>
        </table>
      </form>
       
    </div>
</div>
-->



  