<style>
.footerbar{position:fixed; left:0; bottom:0; width:100%; height:45px; background:#f1f1f1; border-top:1px solid #c9c9c9;}
.footerbar a{display:block; float:left; padding-top:3px; width:33%; height:45px; text-align:center; color: #4f4f4f; text-decoration:none; border-left:1px solid #e1e1e1;}
.footerbar a:first-child{border-left:0;}
.footerbar a i{font-size:20px; display:block;}
.footerbar .buy-num{ font-size:18px; color:#ff0000; padding: 0 5px;}
</style>
<div class="footerbar">
	<a href="{php echo $this->mturl('list')}"><i class="icon-gift"></i> 商城首页</a>
	<a href="{php echo $this->mturl('mycart')}"><i class="icon-sale-cart"><span class="buy-num" id="carttotal_footer">{$carttotal}</span></i> 购物车</a>
	<a href="{php echo $this->mturl('myorder')}"><i class="icon-user"></i> 我的订单</a>
</div>
<script>
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideToolbar');
});
</script>