 {template 'headergs'}
{template 'common'}
	
<script>var require = { urlArgs: 'v=2015041921' };</script>
	<script src="./resource/js/require.js"></script>
	<script src="./resource/js/app/config.js"></script>
	<script src="./resource/js/lib/jquery-1.11.1.min.js"></script>

  </head>
  <body>

  {if $css=='jxs2'}
  <div class="col-sm-10 col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form class="form-horizontal"  action="{php echo $this->createMobileUrl('c_jxsgl')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from1">
                <div class="form-group">
                    <label  class="col-sm-4 col-md-4 control-label">经销商名称：</label>
                    <div class="col-sm-4 col-md-4">
                        <input class="form-control" name="fgsname" id="" type="text" value="{$_GPC['name']}"/>
                    </div>
                    <div class="col-sm-4 col-md-4"></div>
                </div>
                <div class="form-group">
                    <label   class="col-sm-4 col-md-4 control-label">手机号：</label>
                    <div class="col-sm-4 col-md-4">
                        <input  class="form-control"  name="fgsmobile" class="form-control" id="" type="text" value="{$_GPC['mobile']}"/>
                    </div>
                    <div class="col-sm-4 col-md-4"></div>
                </div>
             <!--   <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">经销商名称</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input class="form-control" name="fgsname" id="" type="text" value="{$_GPC['name']}">
                    </div>
                </div>
       			<div class="form-group">
                    <div class="col-xs-12 col-sm-8 col-lg-9">手机号
                         <input class="col-xs-6 col-sm-4" name="fgsmobile" class="form-control" id="" type="text" value="{$_GPC['mobile']}">
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="col-sm-4 col-md-4"></div>
                    <div class="col-sm-4 col-md-4">
                        <button class="btn btn-default" name="subcx" value="1"> 搜索</button>
                    </div>
                    <div class="col-sm-4 col-md-4"></div>
                </div>
            </form>

            <div style="padding:15px;">
                <p align="right"><a href="{php echo $this->createMobileUrl('c_jxsgl_xq')}" class="btn btn-info" >添加</a></p>
                <table class="table table-bordered">
                    <thead class="navbar-inner">
                    <tr>
                        <th>删？</th>
                        <th style="width:60px;">ID</th>
                        <th>经销商名称</th>
                        <th>负责人</th>
                        <th>手机号码</th>
                        <th>注册时间</th>
                        <th>审核状态</th>
                        <th>是否可用</th>
                        <th>所属单位</th>
                        <th  colspan="2">操作</th>
                    </tr>
                    </thead>
                    <tbody>


                    <form action="{php echo $this->createMobileUrl('c_jxsgl')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">

                        {loop $commission  $c}
                        <tr>
                            <td><input type="checkbox" name="id[{$c[id]}]"></td>
                            <td>{$c[id]}</td>
                            <td><input type="text" name="name[{$c[id]}]" id="name[{$c[id]}]" value="{$c[name]}"></td>
                            <td><input type="text" name="realname[{$c[id]}]" id="realname[{$c[id]}]" value="{$c[realname]}"></td>
                            <td><input type="text" name="mobile[{$c[id]}]" id="mobile[{$c[id]}]" value="{$c[mobile]}"></td>
                            <td>{php echo date("Y-m-d H:i:s",$c[createtime]);}</td>
                            <td>{if $c['flag']==1}<font color="#009933">已审核</font>{else}<font color="#FF0000">未审核</font>{/if}</td>
                            <td>{if $c['status']==1}<font color="#009933">可用</font>{else}<font color="#FF0000">不可用</font>{/if}</td>

                            <td>{$c['bname']}</td>
                            <td><a href="{php echo $this->createMobileUrl('c_jxsgl_xq',array('did'=>$c[id]))}">详情</a></td>


                            <td> <input type="submit" name="subdel1[{$c[id]}]" id="subdel1[{$c[id]}]" value="删除"/>

                            </td>
                        </tr>
                        {/loop}

                    </tbody>
                    <tr>
                        <td colspan="4" style="text-align: right;border: none;">
                            <input name="token" type="hidden" value="{$_W['token']}" />
                            <input type="submit" class="btn btn-primary" name="submit" value="提交修改" />
                        </td>
                        <td colspan="5" style="text-align: left;border: none;">
                            <input type="submit" class="btn btn-primary" name="subdel" value="批量删除" />
                        </td>
                    </tr>
                </table>
                </form>
                {$pager}
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    <!--
    var category = {php echo json_encode($children)};
    function setProperty(obj,id,type){

        $(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createWebUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    $(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data)
                    if(d.result==1){
                        $(obj).toggleClass("label-info");
                    }
                },"json");
    }

    function setProperty1(obj,id,type){

        //$(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createWebUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    //$(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data);
                    if(d.data==1){
                        obj.innerHTML = '销售中';
                    }
                    if(d.data==0){
                        obj.innerHTML = '已下架';
                    }
                    $(obj).toggleClass("label-success");
                },"json");
    }
    //-->
</script>
{/if}

  