﻿{template 'headergs'}
{template 'common'}

<table>
<tr>
<td>当前数据版本号：</td><td>{$bb['bbh']}</td>
</tr>
<tr>
<td>当前数据版本名称：</td><td>{$bb['name']}</td>
</tr>
<tr>
<td>数据更新内容：</td><td>{$bb['nr']}</td>
</tr>
<tr>
<td>上次更新时间：</td><td>{php echo date("Y-m-d H:i:s", $bb['time']);}</td>
</tr>
</table>
<br /><br /><br />
更新包版本
<br /><br />
<table>
<tr>
<td>更新包版本号：</td><td>{$xbb['bbh']}</td>
</tr>
<tr>
<td>更新包版本名称：</td><td>{$xbb['name']}</td>
</tr>
<tr>
<td>更新包内容：</td><td>{$xbb['nr']}</td>
</tr>

</table>
<br /><br />
<table>
<tr>
<td><a href="{php echo $this->createMobileUrl('c_shengji', array('gx' => 'yes'))}" class="btn btn-primary">数据库更新到最新版本</a></td><td></td>
</tr>
</table>

