{template 'headergs'}
{template 'common'}
<script type="text/javascript" src="resource/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="resource/js/lib/jquery-ui-1.10.3.min.js"></script>

{if $operation == 'post'}

<link type="text/css" rel="stylesheet" href="../addons/eso_sale/images/uploadify_t.css" />
<style type='text/css'>
    .tab-pane { padding:20px 0 20px 0;}

</style>
<div class="col-md-10 col-lg-10">
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit="return formcheck();">
        <input type="hidden" name="id" value="{$item['id']}" />
        <h4>{if empty($item['id'])}添加商品{else}编辑商品{/if}</h4>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#tab_basic">基本信息</a></li>
            <li><a href="#tab_des">商品描述</a></li>
            <!-- <li><a href="#tab_param">自定义属性</a></li>
           <li><a href="#tab_option">商品规格</a></li>

           <li><a href="#tab_other">其他设置</a></li>-->
        </ul>

        <div class="tab-content">
            <div class="tab-pane  active" id="tab_basic">{template 'goods_basic'}</div>
            <div class="tab-pane" id="tab_des">{template 'goods_des'}</div>
            <div class="tab-pane" id="tab_param">{template 'goods_param'}</div>
            <div class="tab-pane" id="tab_option">{template 'goods_option'}</div>
            <!--<div class="tab-pane" id="tab_other">{template 'goods_other'}</div>-->
        </div>
        <table class="tb">
            <tr>
                <th></th>
                <td>
                    <input name="submit" type="submit" value="提交" class="btn btn-primary span3">111
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="specWin" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <table class="table table-hover">
        <thead class="navbar-inner">
        <tr>
            <th style="width:100px;" class="row-hover">名称<i></i></th>
            <th style="text-align:right;">操作</th>
        </tr>
        </thead>
        <tbody id="spec-items">
        {loop $specs $field}
        {php $json = json_encode($field);}
        <tr>
            <td><input  name="spec[]" type="text" value="{$field['title']}"></td>
            <td style="text-align:right;">
                {loop $field['content'] $item}
                <span class="label label-info">{$item}</span>
                {/loop}
            </td>
            <td><a href="javascript:;" onclick='addSpec({$json})'>添加</a></td>
        </tr>
        {/loop}
        </tbody>
    </table>
</div>
</div>
<script type="text/javascript">
    <!--
    var category = {php echo json_encode($children)};
    require(['jquery', 'util'], function($, u){
        $(function(){
            u.editor($('.richtext-clone')[0]);
        });
    });


    var category = {php echo json_encode($children)};

    $(function () {
        window.optionchanged = false;
        $('#myTab a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        })
    });



    function formcheck(){
        if($("#pcate").val()=='0'){
            Tip.focus("pcate","请选择商品分类!","right");
            return false;
        }
        if($("#goodsname").isEmpty()) {
            $('#myTab a[href="#tab_basic"]').tab('show');
            Tip.focus("goodsname","请输入商品名称!","right");
            return false;
        }
        {if empty($id)}
            if ($.trim($(':file[name="thumb"]').val()) == '') {
                $('#myTab a[href="#tab_basic"]').tab('show');
                $('#myTab a[href="#tab_basic"]').tab('show');
                Tip.focus('thumb_div', '请上传缩略图.', 'right');
                return false;
            }
        {/if}

                if($("#goodsname").isEmpty()) {
                    $('#myTab a[href="#tab_basic"]').tab('show');
                    Tip.focus("goodsname","请输入商品名称!","right");
                    return false;
                }
                var full =  checkoption();
                if(!full){return false;}
                if(optionchanged){
                    $('#myTab a[href="#tab_option"]').tab('show');
                    message('规格数据有变动，请重新点击 [刷新规格项目表] 按钮!','','error');
                    return false;
                }
                return true;
            }

            function checkoption(){
                var full = true;
                if( $("#hasoption").get(0).checked){
                    $(".spec_title").each(function(i){
                        if( $(this).isEmpty()) {
                            $('#myTab a[href="#tab_option"]').tab('show');
                            Tip.focus(".spec_title:eq(" + i + ")","请输入规格名称!","top");
                            full =false;
                            return false;
                        }

                    });
                    $(".spec_item_title").each(function(i){
                        if( $(this).isEmpty()) {
                            $('#myTab a[href="#tab_option"]').tab('show');
                            Tip.focus(".spec_item_title:eq(" + i + ")","请输入规格项名称!","top");
                            full =false;
                            return false;
                        }
                    });
                }
                if(!full) { return false; }
                return full;
            }
    //-->
</script>

{elseif $operation == 'displaydj'}
<div class="col-md-10 col-lg-10">
<div class="main">
    <div class="panel panel-primary">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
		 <form action="{php echo $this->createMobileUrl('c_goods_yj')}" method="post" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">商品名称</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input class="form-control" name="sname" id="" type="text" value="{$_GPC['sname']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">订单状态</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <select name="status" class='form-control'>
						{$zt}
						<option value="0" >全部</option>
							<option value="4" >未付款</option>
                            <option value="1" >待发货</option>
                            <option value="2" >待收货</option>
							<option value="3" >已完成</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分类</label>
                    <div class="col-xs-6 col-sm-4">
                        <select class="form-control" style="margin-right:15px;" name="cate_1" onchange="fetchChildCategory(this.options[this.selectedIndex].value)">
                            <option value="0">请选择一级分类</option>
                            {loop $category $row}
                            {if $row['parentid'] == 0}
                            <option value="{$row['id']}" {if $row['id'] == $_GPC['cate_1']} selected="selected"{/if}>{$row['name']}</option>
                            {/if}
                            {/loop}
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <select class="form-control input-medium" id="cate_2" name="cate_2">
                            <option value="0">请选择二级分类</option>
                            {if !empty($_GPC['cate_1']) && !empty($children[$_GPC['cate_1']])}
                            {loop $children[$_GPC['cate_1']] $row}
                            <option value="{$row[0]}" {if $row[0] == $_GPC['cate_2']} selected="selected"{/if}>{$row[1]}</option>
                            {/loop}
                            {/if}
                        </select>
                    </div>
                   
                
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分公司</label>
                    <div class="col-xs-6 col-sm-4">
                        <select class="form-control" style="margin-right:15px;" name="fgsname" >
                            <option value="0">请选择分公司</option>
                            {loop $fgs $fgs}
                            
                            <option value="{$fgs['id']}">{$fgs['name']}</option>
                           
                            {/loop}
                             <option value="1">总公司</option>
                        </select>
                    </div>
                     <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">经销商</label>
                    <div class="col-xs-6 col-sm-4">
                        <select class="form-control input-medium" id="jxsname" name="jxsname">
                            <option value="0">请选择经销商</option>
                            {if !empty($_GPC['cate_1']) && !empty($children[$_GPC['cate_1']])}
                            {loop $children[$_GPC['cate_1']] $row}
                            <!--
                            {loop $jxs $jxs}
                            <option value="{$jxs['id']}">{$jxs['name']}</option>
                            {/loop}
                            -->
                        </select>
                    </div>
                   
                    <div class=" col-xs-12 col-sm-2 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="padding:15px;">
    <form action="{php echo $this->createMobileUrl('c_goods_yj')}" method="post" class="form-horizontal" role="form2">
        <table class="table table-hover">
            <thead class="navbar-inner">
            <tr>
             <th>批量选择？
             <script language=javascript>

function unselectall(){
if(document.myform.chkAll.checked){
document.myform.chkAll.checked = document.myform.chkAll.checked&0;
}
}
function CheckAll(form){
for (var i=0;i<form.elements.length;i++){
var e = form.elements[i];
if (e.Name != 'chkAll'&&e.disabled==false)
e.checked = form.chkAll.checked;
}
}
</script>
             <input name='chkAll' type='checkbox' id='chkAll' onclick='CheckAll(this.form)' value='checkbox'>
             </th>
            
                <th>所属单位</th>
                <th>代理商</th>
                <th>商品标题</th>
                <th>商品编号</th>
             
                <th>零售单号</th>
				<th>订单状态</th>
				   <th>商品数量</th>
                 <th>零售价</th>
                <th>经销商价</th>
                <th>分公司价</th>
                <th>经销商结算状态</th>
                <th colspan="2">经销商结算</th>
                <th>分公司结算状态</th>
                <th colspan="2">分公司结算</th>
            </tr>
            </thead>
            <tbody>
            <script>
function ValidateNumber(e, pnumber){

if (!/^\d+$/.test(pnumber)){

$(e).val(/^\d+/.exec($(e).val()));

}

return false;

}
</script>

			
               
				{php $jxshj=0;$fgshj=0;$jshj=0;$splsj=0;$jshj2=0;$jshj3=0;$jshj4=0;}
            {loop $list $item}
            <tr>
             <td><input type="checkbox" name="oid[{$item['oid']}]" value="{$item['oid']}" /></td>
                
                <th>{$item['fgsname']}</th>
                   <th>{$item['dlname']}</th>
                 
                <td>{if !empty($category[$item['pcate']])}<span class="text-error">[{$category[$item['pcate']]['name']}] </span>{/if}{if !empty($children[$item['pcate']])}<span class="text-info">[{$children[$item['pcate']][$item['ccate']][1]}] </span>{/if}{$item['title']}
                </td>
  				<th>{$item['goodssn']}</th>
                
                <th>{$item['ordersn']}</th>
				<th>{if $item['status']==3}<font color="#009933">已完成</font>{else if $item['status']==2}待收货{else if $item['status']==1}待发货{else}<font color="#FF0000">待付款</font>{/if}</th>
				<th>{$item['total']}</th>
                <td>{php echo $jg0=$item['lsj']*$item['total'];}</td>
                   <input type="hidden" name="did[{$item['oid']}]" value="{$item['did']}"/>
                <input type="hidden" name="lsj[{$item['oid']}]" value="{$jg0}"/>
                {php $splsj=$splsj+$item['lsj']*$item['total'];}
                <td>{php echo $jg1=$item['bdlj']*$item['total'];}</td>{php $jxshj=$jxshj+$item['bdlj']*$item['total'];}
                <td>{php echo $jg2=$item['bfgsdj']*$item['total'];}</td>{php $fgshj=$fgshj+$item['bfgsdj']*$item['total'];}
                <td>
                {if $item['js']==1}申请中{else if $item['js']==2}<font color="#00CC33">已结算</font>{php $jshj=$jshj+$jg1;}{else}未结算{php $jshj2=$jshj2+$jg1;}{/if}
				<br />
				{if $item['jstime']}{php echo date("Y-m-d H:i:s", $item['jstime']);}{/if}
                </td>
                <td>
                <input type="submit" class="btn btn-primary" name="subsh[{$item['oid']}]" value="结算" onClick="javascript:return confirm('确定要结算吗？');"/>
                 </td>
                 <td>
                 <input type="submit" class="btn btn-primary" name="subsh2[{$item['oid']}]" value="反结算" onClick="javascript:return confirm('确定要反结算吗？');"/>
                </td>
                  <td>
                {if $item['js2']==1}申请中{else if $item['js2']==2}<font color="#00CC33">已结算</font>{php $jshj3=$jshj3+$jg1-$jg2;}{else}未结算{php $jshj4=$jshj4+$jg1-$jg2;}{/if}
				<br />
				{if $item['js2time']}{php echo date("Y-m-d H:i:s", $item['js2time']);}{/if}
                </td>
                <td>
                
                 <input type="submit" class="btn btn-primary" name="subsh3[{$item['oid']}]" value="结算" onClick="javascript:return confirm('确定要结算吗？');"/>
                  
                 </td><td>
                 <input type="submit" class="btn btn-primary" name="subsh4[{$item['oid']}]" value="反结算" onClick="javascript:return confirm('确定要反结算吗？');"/>
                </td>
            </tr>
            {/loop}
            </tbody>
                <tr>
             <th></th>
                <th></th>
                <th></th>
                <th></th>
                 <th></th>
                 <th></th>
                <th>小计：</th>
                <th>{$splsj}</th>
                <th>{$jxshj}</th>
                <th>{$fgshj}</th>
				<th></th>
                <th>已结算{$jshj}</th>
                <th colspan="2"></th>
				
                 <th>已结算{$jshj3}</th>
                <th colspan="2"></th>
            </tr>
                  <tr>
             <th></th>
                <th></th>
                <th></th>
                <th></th>
                 <th></th>
                 <th></th>
                <th>差额：</th>
                <th>{php echo $ce1=$splsj-$jxshj;}</th>
                 <th></th>
                <th>{php echo $ce2=$jxshj-$fgshj;}</th>
				<th></th>
                <th>未结算{$jshj2}</th>
                <th colspan="2"></th>
				
                 <th>未结算{$jshj4}</th>
                <th colspan="2"></th>
            </tr>
            
            <tr>
                <td colspan="2">
                    <input name="token" type="hidden" value="{$_W['token']}" />
                   <!-- <input type="submit" class="btn btn-primary" name="submit" value="提交更改" />-->
                </td>
                 <td colspan="2">
                  
                    <input type="submit" class="btn btn-primary" name="submitsh" value="经销商批量结算" onClick="javascript:return confirm('确定要结算吗？');"/>
                </td>
                <td colspan="2">
                  
                    <input type="submit" class="btn btn-primary" name="submitsh2" value="经销商批量反结算" onClick="javascript:return confirm('确定要反结算吗？');" />
                </td>
                  <td colspan="2">
                  
                    <input type="submit" class="btn btn-primary" name="submitsh3" value="分公司批量结算" onClick="javascript:return confirm('确定要结算吗？');" />
                </td>
                <td colspan="2">
                  
                    <input type="submit" class="btn btn-primary" name="submitsh4" value="分公司批量反结算" onClick="javascript:return confirm('确定要反结算吗？');"/>
                </td>
            </tr>
        </table>
		</form>
        {$pager}
    </div>
</div>
    </div>
<script type="text/javascript">
    <!--
    var category = {php echo json_encode($children)};
    function setProperty(obj,id,type){

        $(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createMobileUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    $(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data)
                    if(d.result==1){
                        $(obj).toggleClass("label-info");
                    }
                },"json");
    }

    function setProperty1(obj,id,type){

        //$(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createMobileUrl('setgoodsproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    //$(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data);
                    if(d.data==1){
                        obj.innerHTML = '销售中';
                    }
                    if(d.data==0){
                        obj.innerHTML = '已下架';
                    }
                    $(obj).toggleClass("label-success");
                },"json");
    }
    //-->
</script>
{/if}

