{template 'headergs'}
{template 'common'}
<div class="col-sm-10 col-md-10">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
             <li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createMobileUrl('c_sp_fl', array('op' => 'post'))}">添加分类</a></li>
             <li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createMobileUrl('c_sp_fl')}">管理分类</a></li>
            </ul>
        </div>
        <div class="panel-body">
            {if $operation == 'post'}
            <div class="main">
                <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
                    <input type="hidden" name="parentid" value="{$parent['id']}" />

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            分类详细设置
                        </div>
                        <div class="panel-body">
                            {if !empty($parentid)}
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 control-label">上级分类</label>
                                <div class="col-sm-9 col-xs-12">
                                    {$parent['name']}
                                </div>
                            </div>
                            {/if}
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input type="text" name="displayorder" class="form-control" value="{$category['displayorder']}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类名称</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input type="text" name="catename" class="form-control" value="{$category['name']}" {if empty($parentid)}disabled="disabled"{/if} />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类图片</label>
                                <div class="col-sm-9 col-xs-12">
                                    {php echo tpl_form_field_image('thumb', $category['thumb']);}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类描述</label>
                                <div class="col-sm-9 col-xs-12">
                                    <textarea name="description" class="form-control">{$category['description']}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页推荐</label>
                                <div class="col-sm-9 col-xs-12">
                                    <label class="radio-inline">
                                        <input type='radio' name='isrecommand' class="check" value=1' {if $category['isrecommand']==1}checked{/if} /> 是
                                    </label>
                                    <label class="radio-inline">
                                        <input type='radio' name='isrecommand' class="check" value=0' {if $category['isrecommand']==0}checked{/if} /> 否
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
                                <div class="col-sm-9 col-xs-12">
                                    <label class="radio-inline">
                                        <input type='radio' name='enabled' class="check" value=1' {if $category['enabled']==1}checked{/if} /> 是
                                    </label>
                                    <label class="radio-inline">
                                        <input type='radio' name='enabled' class="check" value=0' {if $category['enabled']==0}checked{/if} /> 否
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input name="submit" type="submit" value="提交" class="btn btn-primary span3">
                    <input type="hidden" name="token" value="{$_W['token']}" />


                    <table class="tb">
                        <!--

                        {if  $_GPC['parentid']}
                        <tr>
                            <th><label for="">佣金比例</label></th>
                            <td>
                                <input type="text" name="commission" class="span1" value="{$category['commission']}" />%
                            </td>
                        </tr>
                          {/if}

                          -->
                    </table>
                </form>
            </div>
            {elseif $operation == 'display'}
            <div class="main">
                <div class="category">
               <a href="{php echo $this->createMobileUrl('c_sp_fl', array('op' => 'gx'))}"> 一键导入主分类</a>
                    <form action="{php echo $this->createMobileUrl('c_sp_fl')}" method="post" onsubmit="return formcheck(this)">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="width:10px;"></th>
								 <th width="10px">ID</th>
                                <th style="width:120px;">显示顺序</th>
                                <th>分类名称</th>
                                <th style="width:80px;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {loop $category $row}
                            <tr>
                                <td>{if count($children[$row['id']]) > 0}<a href="javascript:;"><i class="icon-chevron-down"></i></a>{/if}</td>
                                <td>{$row['id']}</td>
								<td><input type="text" class="form-control" name="displayorder[{$row['id']}]" value="{$row['displayorder']}"></td>
                                <td><img src="./resource/attachment/{$row['thumb']}" width='50' height="50" onerror="$(this).remove()" style='padding:1px;border: 1px solid #ccc;float:left;' />
                                    <div class="type-parent">{$row['name']}&nbsp;&nbsp;
                                        {if $row['enabled']==1}
                                        <span class='label label-success'>显示</span>
                                        {else}
                                        <span class='label label-danger'>隐藏</span>
                                        {/if}{if empty($row['parentid'])}
                                        <a href="{php echo $this->createMobileUrl('c_sp_fl', array('parentid' => $row['id'], 'op' => 'post'))}"><i class="icon-plus-sign-alt"></i> 添加子分类</a>{/if}</div></td>
                                <td><a href="{php echo $this->createMobileUrl('c_sp_fl', array('op' => 'post', 'id' => $row['id']))}">编辑</a>&nbsp;&nbsp;<a href="{php echo $this->createMobileUrl('c_sp_fl', array('op' => 'delete', 'id' => $row['id']))}" onclick="return confirm('确认删除此分类吗？');return false;">删除</a></td>
                            </tr>
                            {loop $children[$row['id']] $row}
                            <tr>
                                <td></td>
								 <td>{$row['id']}</td>
                                <td><input type="text" class="span1" name="displayorder[{$row['id']}]" value="{$row['displayorder']}"></td>
                                <td><img src="./resource/attachment/{$row['thumb']}" width='50' height="50" onerror="$(this).remove()" style='padding:1px;border: 1px solid #ccc;float:left;' /><div class="type-child">{$row['name']}&nbsp;&nbsp;   {if $row['enabled']==1}
                                    <span class='label label-success'>显示</span>
                                    {else}
                                    <span class='label label-danger'>隐藏</span>
                                    {/if}</div></td>
                                <td><a href="{php echo $this->createMobileUrl('c_sp_fl', array('op' => 'post', 'id' => $row['id'], 'parentid'=>$row['parentid']))}">编辑</a>&nbsp;&nbsp;<a href="{php echo $this->createMobileUrl('c_sp_fl', array('op' => 'delete', 'id' => $row['id']))}" onclick="return confirm('确认删除此分类吗？');return false;">删除</a></td>
                            </tr>
                            {/loop}
                            {/loop}
                            <tr>
                                <td colspan="4">
                                    <a href="{php echo $this->createMobileUrl('c_sp_fl', array('op' => 'post'))}"><i class="icon-plus-sign-alt"></i> 添加新分类</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <input name="submit" type="submit" class="btn btn-primary" value="提交">
                                    <input type="hidden" name="token" value="{$_W['token']}" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            {/if}

        </div>
     </div>


</div>


<script type="text/javascript" src="./resource/script/colorpicker/spectrum.js"></script>
<link type="text/css" rel="stylesheet" href="./resource/script/colorpicker/spectrum.css" />
<script type="text/javascript">
<!--
	$(function(){
		colorpicker();
	});
//-->
</script>

