<style>
.footerbar{position:fixed; left:0; bottom:0px; width:100%; height:50px; background:#f1f1f1; border-top:1px solid #c9c9c9;}
.footerbar a{display:block; float:left; padding-top:3px; width:24.9%; height:45px; text-align:center; color: #4f4f4f; text-decoration:none; border-left:1px solid #e1e1e1;}
.footerbar a:first-child{border-left:0;}
.footerbar a i{font-size:20px; display:block;}
#footer { position: fixed;width:100%;bottom:0px;height:25px;line-height:25px;color:#333;background:#f1f1f1}
</style>
<div class="footerbar">
	
	<a href="{php echo $this->mturl('mycart')}"><i class="fa fa-shopping-cart"></i> 购物车</a>
	<a href="{php echo $this->mturl('myorder')}"><i class="fa fa-shopping-cart"></i> 我的订单</a>
    <a href="{php echo $this->mturl('contactus')}"><i class="fa fa-shopping-cart"></i> 品牌介绍</a>
</div>
<script>
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
            {if $_GPC['act']!='entry' && $_GPC['do']!="list" && $_GPC['do']!='list2' && $_GPC['do']!='detail' && $_GPC['do']!='contactus'}
                WeixinJSBridge.call('hideOptionMenu');
             {else}
                WeixinJSBridge.call('showOptionMenu');
            {/if}
});
</script>