{template 'headergs'}
{template 'common'}
<script>var require = { urlArgs: 'v=2015041921' };</script>
	<script src="./resource/js/require.js"></script>
	<script src="./resource/js/app/config.js"></script>
	<script src="./resource/js/lib/jquery-1.11.1.min.js"></script>

  </head>
  <body>

  {if $css=='grzx'}
  <div class="col-sm-10 col-md-10">
	  <div class="panel panel-primary">
		  <div class="panel-heading">个人中心</div>
		  <div class="panel-body">
			  <form class="form-horizontal" action="{php echo $this->createMobileUrl('c_grzx')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
				  <input type="hidden" name="xid" value="{$_SESSION['vipid']}">
		
			{if $fgsxq['bname']}
				  <div class="form-group">
					  <label  class="col-sm-3 col-md-3 control-label">所属分公司</label>
					  <div class="col-sm-6 col-md-6">
						  {$fgsxq['bname']}
					  </div>
				  </div>
				  {/if}
				  <div class="form-group">
					  <label   class="col-sm-3 col-md-3 control-label">名称</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="name" class="form-control" value="{$fgsxq['name']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label  class="col-sm-3 col-md-3 control-label">地址</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="address" class="form-control"  value="{$fgsxq['address']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label   class="col-sm-3 col-md-3 control-label">登陆用户</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="username"  class="form-control" value="{$fgsxq['username']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label   class="col-sm-3 col-md-3 control-label">密码</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="password" name="pwd"  class="form-control" value="">
					  </div>
				  </div>
				  <div class="form-group">
					  <label  class="col-sm-3 col-md-3 control-label">责任人</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="realname"  class="form-control" value="{$fgsxq['realname']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">手机号</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="mobile" class="form-control" value="{$fgsxq['mobile']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">注册时间</label>
					  <div class="col-sm-6 col-md-6">
						  <span>{if $fgsxq['createtime']}{php echo date("Y-m-d H:i:s",$fgsxq['createtime']);}{/if}</span>
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">银行卡号</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="bankcard"  class="form-control"  value="{$fgsxq['bankcard']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">支付宝号</label>
					  <div class="col-sm-6 col-md-6">
						  <input type="text" name="alipay" class="form-control" value="{$fgsxq['alipay']}">
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-3 col-md-3 control-label">备注</label>
					  <div class="col-sm-6 col-md-6">
						  <textarea name="content" cols="50" rows="5">{$fgsxq['content']}</textarea>
					  </div>
				  </div>
				  <div class="form-group">
					  <div class="col-sm-offset-3 col-sm-10">
						  <input name="token" type="hidden" value="{$_W['token']}" />
						  <a href="{php echo $this->createMobileUrl('c_fgsgl')}"  class="btn btn-primary" >返回</a>
						  {if $b==1}
						  <input type="submit" class="btn btn-primary" name="submit" value="提交" />
						  {/if}
						  {if $b==2}
						  <input type="submit" class="btn btn-primary" name="submitadd" value="提交" />
						  {/if}
					  </div>
				  </div>
			  </form>
		  </div>
	  </div>
  </div>
  {/if}









<!--
  <div class="main">
    <div class="panel panel-info">
       经销商详情
    </div>
    <div style="padding:15px;">
	<form action="{php echo $this->createMobileUrl('c_jxsgl_xq')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
        <table class="table table-hover">
           <input type="hidden" name="xid" value="{$fgsxq['id']}">
			<tr>
				<td>是否可用</td>
				<td width="300px">{if $fgsxq['status']==1}<input type="radio" name="status" value="1" checked="checked">可用<input type="radio" name="status" value="0">不可用{else}<input type="radio" name="status" value="1">可用<input type="radio" name="status" value="0" checked="checked">不可用{/if}</td>
			</tr>
            	<tr>
				<td>是否审核</td>
				<td width="300px">
				{$fl}
				</td>
			</tr>
            <td>所属分公司</td>
				<td width="300px">{$fgsxq['bname']}</td>
			</tr>
			<tr>
				<td>经销商名称</td>
				<td><input type="text" name="name" value="{$fgsxq['name']}"></td>
			</tr>
			<tr>
				<td>经销商地址</td>
				<td><input type="text" name="address" value="{$fgsxq['address']}"></td>
			</tr>
			<tr>
				<td>登陆用户</td>
				<td><input type="text" name="username" value="{$fgsxq['username']}"></td>
			</tr>
			<tr>
				<td>密码</td>
				<td><input type="text" name="pwd" value="{$fgsxq['pwd']}"></td>
			</tr>
			<tr>
				<td>责任人</td>
				<td><input type="text" name="realname" value="{$fgsxq['realname']}"></td>
			</tr>
			<tr>
				<td>手机号</td>
				<td><input type="text" name="mobile" value="{$fgsxq['mobile']}"></td>
			</tr>
			<tr>
				<td>注册时间</td>
				<td>{if $fgsxq['createtime']}{php echo date("Y-m-d H:i:s",$fgsxq['createtime']);}{/if}</td>
			</tr>
			<tr>
				<td>银行卡号</td>
				<td><input type="text" name="bankcard" value="{$fgsxq['bankcard']}"></td>
			</tr>
			<tr>
				<td>支付宝号</td>
				<td><input type="text" name="alipay" value="{$fgsxq['alipay']}"></td>
			</tr>
			<tr>
				<td>备注</td>
				<td><textarea name="content" cols="50" rows="5">{$fgsxq['content']}</textarea></td>
			</tr>
			
	
           
            <tr>
                <td colspan="2">
   
                    <input name="token" type="hidden" value="{$_W['token']}" />
                    <a href="{php echo $this->createMobileUrl('c_fgsgl')}"  class="btn btn-primary" >返回</a>                </td>
				 <td colspan="2">
                    {if $b==1}
                    <input type="submit" class="btn btn-primary" name="submit" value="提交" />
					{/if}
					{if $b==2}
                    <input type="submit" class="btn btn-primary" name="submitadd" value="提交" />
					{/if}                </td>
            </tr>
        </table>
      </form>
       
    </div>
</div>
-->



  