{template 'headergs'}
{template 'common'}
	

	<script>var require = { urlArgs: 'v=2015041921' };</script>
	<script src="./resource/js/require.js"></script>
	<script src="./resource/js/app/config.js"></script>
	<script src="./resource/js/lib/jquery-1.11.1.min.js"></script>

  </head>
{if $css=='yggl'}
<div class="col-sm-10 col-md-10">
<div class="panel panel-primary">
	<div class="panel-heading">员工修改</div>
	<div class="panel-body">
		<form class="form-horizontal" action="{php echo $this->createMobileUrl('c_yggl_xq')}" method="post" enctype="multipart/form-data" data-ajax="false" name="from2">
		<input type="hidden" name="xid" value="{$fgsxq['id']}" />
			<div class="form-group">
				<label  class="col-sm-3 col-md-3 control-label">是否可用</label>
				<div class="col-sm-6 col-md-6">
					{if $fgsxq['status']==1}<input type="radio" name="status" value="1" checked="checked">可用<input type="radio" name="status" value="0">不可用{else}<input type="radio" name="status" value="1">可用<input type="radio" name="status" value="0" checked="checked">不可用{/if}
				</div>
			</div>
            <div class="form-group">
				<label   class="col-sm-3 col-md-3 control-label">排序</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" name="px" class="form-control" value="{$fgsxq['px']}">
				</div>
			</div>
			<div class="form-group">
				<label   class="col-sm-3 col-md-3 control-label">员工名称</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" name="name" class="form-control" value="{$fgsxq['name']}">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-3 col-md-3 control-label">员工地址</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" name="address" class="form-control" value="{$fgsxq['address']}">
				</div>
			</div>
			<div class="form-group">
				<label   class="col-sm-3 col-md-3 control-label">登陆用户</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" name="usermc" class="form-control" value="{$fgsxq['username']}">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-3 col-md-3 control-label">密码</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" name="pwd"  class="form-control" value="">
				</div>
			</div>
			<div class="form-group">
				<label   class="col-sm-3 col-md-3 control-label">责任人</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" name="realname" class="form-control" value="{$fgsxq['realname']}">
				</div>
			</div>
			<div class="form-group">
				<label   class="col-sm-3 col-md-3 control-label">手机号</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" name="mobile" class="form-control"  value="{$fgsxq['mobile']}">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-3 col-md-3 control-label">注册时间</label>
				<div class="col-sm-6 col-md-6">
					<span>{if $fgsxq['createtime']}{php echo date("Y-m-d H:i:s",$fgsxq['createtime']);}{/if}</span>
				</div>
			</div>
			<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">银行卡号</label>
			<div class="col-sm-6 col-md-6">
				<input type="text" name="bankcard" class="form-control" value="{$fgsxq['bankcard']}">
			</div>
		   </div>
			<div class="form-group">
				<label class="col-sm-3 col-md-3 control-label">支付宝号</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" name="alipay" class="form-control" value="{$fgsxq['alipay']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-md-3 control-label">备注</label>
				<div class="col-sm-6 col-md-6">
					<textarea name="content" cols="50" rows="5">{$fgsxq['content']}</textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-10">
					<input name="token" type="hidden" value="{$_W['token']}" />
					<a href="{php echo $this->createMobileUrl('c_yggl')}"  class="btn btn-primary" >返回</a>
					{if $b==1}
					<input type="submit" class="btn btn-primary" name="submit" value="提交" />
					{/if}
					{if $b==2}
					<input type="submit" class="btn btn-primary" name="submitadd" value="提交" />
					{/if}
				</div>
			</div>
		</form>
	</div>
</div>
</div>
{/if}

