﻿{template 'headergs'}
{template 'common'}
<br><br><br><br>
<style type='text/css'>
   
     .header1
    {
        margin-top:-2%;
    }
</style>
<div class="row" style="margin-top: -90px;">
    <div class="col-sm-2 col-md-2">
        <a href="{php echo $this->createMobileUrl('c_jxsgl')}">
            <div class="service">
                <i class="icon-sitemap" title="shipping"></i>
                <div class="service-description">
                    <h4>经销商管理</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2 col-md-2">
        <div class="service" style="background-color: #eee;">
            <i class=" icon-tasks" title="cash"></i>
            <div class="service-description">
                <h4>订单管理</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-2">
        <a href="{php echo $this->createMobileUrl('c_goodsdj_fgs')}">
            <div class="service">
                <i class="icon-shopping-cart" title="cash"></i>
                <div class="service-description">
                    <h4>商品管理</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2 col-md-2">
	<a href="{php echo $this->createMobileUrl('c_goods_myyj')}">
        <div class="service" style="background-color: #eee;">
            <i class="icon-money" title="cash"></i>
            <div class="service-description">
                <h4>佣金审核</h4>
            </div>
        </div>
		</a>
    </div>
    <div class="col-sm-2 col-md-2">
        <div class="service" style="background-color: #eee;">
            <i class="icon-list-alt" title="cash"></i>
            <div class="service-description">
                <h4>报表</h4>
            </div>
        </div>
    </div>
</div>

