﻿<style type='text/css'>
    #poptip { position: fixed; top:40%;left:50%;width:160px;margin-left:-80px;height: 27px;background:#000; opacity: 0.7;filter:alpha(opacity=0.7); color:#fff;z-index: 999;  border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;}
#poptip_content { position: fixed; top:40%;left:50%;width:160px;margin-left:-80px; height: 27px; color:#fff;text-align:center;font-size:14px;z-index: 9909}
</style>
<script language='javascript'>
    function tip(msg,autoClose){
     var div = $("#poptip");
     var content =$("#poptip_content");
     if(div.length<=0){
         div = $("<div id='poptip'></div>").appendTo(document.body);
         content =$("<div id='poptip_content'>" + msg + "</div>").appendTo(document.body);
     }
     else{
         content.html(msg);
         content.show(); div.show();
     }
     if(autoClose) {
        setTimeout(function(){
            content.fadeOut(500);
            div.fadeOut(500);

        },1000);
     }
}
function tip_close(){
    $("#poptip").fadeOut(500);
     $("#poptip_content").fadeOut(500);
}
    </script>
	<script language='javascript'>
    function fetchChildCategory(cid) {
        var html = '<option value="0">请选择二级分类</option>';
        if (!category || !category[cid]) {
            $('#cate_2').html(html);
            return false;
        }
        for (i in category[cid]) {
            html += '<option value="'+category[cid][i][0]+'">'+category[cid][i][1]+'</option>';
        }
        $('#cate_2').html(html);
    }
</script>
	<script language='javascript'>
	var category2 = {php echo json_encode($childrenjxs)};
    function fetchChildCategory2(cid) {
        var html = '<option value="0">请选择二级分类</option>';
        if (!category2 || !category2[cid]) {
            $('#jxsname').html(html);
            return false;
        }
        for (i in category2[cid]) {
            html += '<option value="'+category2[cid][i][0]+'">'+category2[cid][i][1]+'</option>';
        }
        $('#jxsname').html(html);
    }
</script>