{template 'common/header'}
{template 'mc/header'}
	<style>
		ul.nav li{padding:0px;}
		div.tab-pane{padding-top:10px;}
		.panel{margin:.5em; border:none;}
		a{color:#666666;}a:hover{color: #3ebacc;}
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{color: #3ebacc;}
		.nav.nav-tabs{margin-bottom:.8em;}
		.btn.btn-primary{background: #56c6d6; color: #FFF; border: 0;}
	</style>

	<form method="post panel panel-default" >
		<div class="panel-body" style="padding:15px 0; background:#fff;">
		<div class="form-group col-sm-12">
			<ul class="nav nav-tabs" role = "tablist">
				<li {if $op == 'yes' || $op == ''}class="active"{/if}><a href="{php echo url('mc/uc', array('foo' => 'bind','op' => 'yes'))}">已有UC账号</a></li>
				<li {if $op == 'no'}class="active"{/if}><a href="{php echo url('mc/uc', array('foo' => 'bind','op' => 'no'))}">没有UC账号</a></li>
			</ul>
		</div>
		<div class = "tab-content">
			<div class = "tab-pane active">
		{if $op == '' || $op == 'yes'}
				<input type="hidden" name="op" value="yes">
				<div class="form-group col-sm-12">
					<input type="text" name="username" value="" class="form-control" placeholder="用户名">
				</div>
				<div class="form-group col-sm-12">
					<input type="password" name="password" value="" class="form-control" placeholder="密码">
				</div>
			</div>
			<div class="tab-pane">
		{elseif $op == 'no'}
				<input type="hidden" name="op" value="no">
				<div class="form-group col-sm-12">
					<input type="text" name="username" value="" class="form-control" placeholder="用户名">
				</div>
				<div class="form-group col-sm-12">
					<input type="password" name="password" value="" class="form-control" placeholder="密码">
				</div>
				<div class="form-group col-sm-12">
					<input type="password" name="repassword" value="" class="form-control" placeholder="确认密码">
				</div>
				<div class="form-group col-sm-12">
					<input type="text" name="email" value="" class="form-control" placeholder="邮箱">
				</div>
			</div>
		{/if}
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-12 control-label"></label>
			<div class="col-sm-12" style="text-align:center">
				<input type="hidden" name="token" value="{$_W['token']}" />
				<input type="submit" class="btn btn-primary btn-block" value="立即绑定" name="submit">
			</div>
		</div>
	</div>
</form>
{template 'mc/footer'}
{template 'common/footer'}