		<style>
			form {
				margin: 0;
			}
			textarea {
				display: block;
			}
		</style>
		<link rel="stylesheet" href="kd/themes/default/default.css" />
		<script charset="utf-8" src="kd/kindeditor-min.js"></script>
		<script charset="utf-8" src="kd/lang/zh_CN.js"></script>
		<script>
			KindEditor.ready(function(K) {
				K.create('textarea[name="content"]', {
					autoHeightMode : true,
					afterCreate : function() {
						this.loadPlugin('autoheight');
					}
				});
			});
		</script>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品简介</label>
    <div class="col-sm-9 col-xs-12">
        <textarea style="height:120px;" class="form-control" id="description" name="description">{$item['description']}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品详情</label>
    <div class="col-sm-9 col-xs-12">
        <textarea style="height:380px;" class="form-control richtext-clone" name="content">{$item['content']}</textarea>
    </div>
</div>