{template 'common/header'}
<ul class="nav nav-tabs">
 	<li  class="active"><a href="{php echo create_url('site/module', array('do' => 'zhifu', 'op' => 'list','name' => 'eso_sale','uniacid'=>$_W['uniacid']))}">满足打款会员</a></li>	
 	
</ul>
    <div class="main">
		<div class="stat">
				<form >
				<input type="hidden" name="act" value="module" />
				<input type="hidden" name="name" value="eso_sale" />
				<input type="hidden" name="do" value="zhifu" />
				<input type="hidden" name="op" value="list" />
				

				<table class="table sub-search">
				<table class="table sub-search">
					<tbody>
						
							<th style="width:80px;text-align: right;">手机</th>
							<td>
								<input type="text"  name="mobile" /> <input type="submit" name="submit" value="搜索" class="btn btn-primary">
							</td>
						</tr>
					
						
					</tbody>
					</table>
						
		</form>
			<div class="stat-div">
				
				<div class="sub-item" id="table-list">
					<h4 class="sub-title" style="float:right;color:red;">总数：{$total} <a href="">刷新</a> </h4>
					<h4 class="sub-title">会员列表</h4>

					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
									<th class="row-hover">姓名</th>
									<th class="row-hover">联系方式</th>
									<th class="row-hover"> 已打款</th>
									<th class="row-hover">未打款</th>
									<th class="row-hover">操作</th>
								</tr>
							</thead>
							<tbody>
							
								{loop $list $v}
									
								<tr>
									<td style="text-align: center;">
										{$v['realname']}
									</td>
									<td style="text-align: center;">
										{$v['mobile']}
									</td>
									<td style="text-align: center;">
										{$v['zhifu']}
									</td>
									<td style="text-align:center;">
									{php echo round($v['commission'] - $v['zhifu'],2)}
									</td>
									<td style="text-align: center;">

										<a href="{php echo create_url('site/module', array('do' => 'zhifu', 'op' => 'post','name' => 'eso_sale','uniacid'=>$_W['uniacid'],'from_user'=>$v['from_user']))}" class="btn btn-primary">打款</a>
									</td>
								</tr>
									
								{/loop}
							</tbody>
						</table>
					</div>
					
					{$pager}
				</div>
			</div>
		</div>
    </div>


{template 'common/footer'}