	<script>require(['bootstrap']);</script>
	<div class="container-fluid footer" role="footer">
		<div class="page-header"></div>
		<span class="pull-left">
			<p>{if
	empty($_W['setting']['copyright']['footerleft'])}Powered by <a
	href="http://www.586886.com"><b>维客旺</b></a> v{IMS_VERSION} &copy; 2014 <a href="http://www.586886.com">www.586886.com</a>{else}{$_W['setting']['copyright']['footerleft']}{/if}</p>
		</span>
		<span class="pull-right">
			<p>{if
	empty($_W['setting']['copyright']['footerright'])}<a
	href="http://www.586886.com">关于维客旺</a><a
	href="http://bbs.586886.com">维客旺帮助</a>{else}{$_W['setting']['copyright']['footerright']}{/if}{if !empty($_W['setting']['copyright']['statcode'])}&nbsp; &nbsp; {$_W['setting']['copyright']['statcode']}{/if}</p>
		</span>
	</div>
</body>
</html>
